/**
 * Quick n' Dirty fix to Avoid scrollbars in thickboxes
 * See http://drupal-dev.pokersource.info/trac/ticket/92
 */
html.framed body {
  overflow: hidden;
  background-image: none;
  background-color: transparent;
}

/**
 * Thickboxes
 */
body.iframe a.LayerClose,
#poker-first-profile a.LayerClose,
div.tb-fix-margin a.LayerClose
{
	background-color: transparent;
	background-image: url(images/button_layerclose.gif);
	background-repeat: no-repeat;
	background-position: center center;
	display:block;
	height:20px;
	position:absolute;
	right:11px;
	top:10px;
	width:20px;
	z-index:777;
	text-decoration:none;
}

div.tb-fix-margin a.LayerClose
{
   	top: 12px;
	right: 42px;
}

.tabs-window {
	background: #fff url(images/bg_buddies.gif) bottom left repeat-x;
	height: 455px;
	padding: 5px;
	width: 622px;
	overflow: hidden !important;
}

/**
 * BUDDIES
 */

/*
#buddies-tabs
{
	background-color: transparent;
  background-image: url(images/bg_buddies.gif);
  background-repeat: repeat-x;
	height: 455px;
	padding: 5px;
	width: 622px;
}
*/
/*
** Profile
*/

.profile_user
{
	background:transparent url(images/buddy_offline.png) no-repeat scroll left center;
	padding-left:12px;
	padding-bottom:3px;
	padding-top:1px;
}

.profile_user.online
{
	background:transparent url(images/buddy_online.png) no-repeat scroll left center;
}

.card
{
	font-size:11px;
	font-weight:bold;
	padding-right:3px;
}

.card img
{
	vertical-align:middle;
	width:12px;
	height:12px;
}

.card.color_h, .card.color_d
{
	color:#e61408;
}

.card.color_c, .card.color_s
{
	color:black;
}
#profile-tabs .block_title_bar
{
	padding-left:5px;
}

#profile-tabs .block_title_text
{
	color:white;
}

#profile-tabs .poker_submit .label
{
	color:#6E4809;
	font-weight:bold;
}

#profile-tabs #profile
{
	padding-left:17px;
}

#profile-tabs .header
{
	padding-top:23px;
	height:25px;
}

#profile-tabs .header .left
{
	width:230px;
}

#profile-tabs .header .right
{
	text-align:right;
	width:350px;
	padding-top:3px;
	font-weight:bold;
}

#profile-tabs .profile_user
{
	font-size:14px;
	font-weight:bold;
	padding-left:15px;
	padding-top:3px;
	font-size:14px;
}


#profile-tabs .middle .left
{
	width:140px;
}

#profile-tabs .picture  img
{
	width:118px;
	height:118px;
}

#profile-tabs .middle .right
{
	width:441px;
}

#profile-tabs .middlebottom
{
	height:50px;
	padding-top:5px;
}

#profile-tabs .middlebottom .right-aligned
{
	margin-right:24px;
}

#profile-tabs .bottom .left
{
	margin-right:37px;
	width:272px;
}

#profile-tabs .bottom .right
{
	width:272px;
}

#profile-tabs .bottom .item-list
{
	padding-top:12px;
	height:150px;
}

#profile-tabs .bottom .inner-item-list img.active
{
	width:48px;
	height:48px;
	border:1px solid #810E0B;
}

#profile-tabs .bottom .inner-item-list
{
	height:120px;
	border-bottom: 1px dotted #810E0B;
	padding-left:12px;
	overflow:hidden;
}

#profile-tabs .bottom .item-list img
{
	margin-right:15px;
	margin-bottom:8px;
	width:50px;
	height:50px;
}

/*
** Settings
*/

#profile-settings .setting-block
{
	width:600px;
	margin-top:20px;
	margin-left:15px;
}

#profile-settings .setting-subblock
{
	padding-bottom:10px;
}

#profile-settings .setting-block .form-item
{
	margin:0;
	padding-top:10px;
	padding-right:10px;
	height:22px;
	float:left;
}

#profile-settings #edit-pass-wrapper .form-item
{
	padding-right:0px;

}

#profile-settings .setting-block .password-strength, #profile-settings .setting-block span.password-confirm
{
	position: absolute;
  bottom: -2em;
  right: 0;
}

#profile-tabs .password-description {
  margin-top: 6em;
  max-width: 100%;
  padding: 0.5em;
}

#profile-tabs .password-description li {
  list-style-position: inside;
  text-indent: 0.5em;
}

#profile-settings #edit-pass-wrapper
{
	display:block;
	height:32px;
	padding:0;
}

#profile-settings .setting-block .form-item label
{
	float:left;
	width:110px;
	text-align:right;
	padding-right:3px;
	padding-top:3px;
	height:19px;
	white-space:nowrap;
}

#profile-settings .poker_submit
{
	margin-top:12px;
}

#profile-settings .setting-block .form-item input
{
	width:150px;
	background:transparent url(images/bg_input_signup.gif) repeat scroll 0 0;
	border:1px solid #D0D0CF;
	font-size:11px;
	line-height:13px;
	padding:2px;
}

#profile-settings .setting-block  .form-required
{
	display:none;
}

#profile-settings .form-checkboxes
{
	margin:0;
}

#profile-settings .form-checkboxes .form-item label
{
	text-align:left;
	width:220px;
}

#profile-settings .form-checkboxes .form-item input
{
	width:auto;
}

#os-poker-profile-personal-settings-form .poker_submit
{
	clear:both;
	margin-left: 520px;
}

#os-poker-profile-personal-settings-form .form-checkboxes .form-item
{
	padding-left:15px;
}

/*
** Shop
*/
#shop-tabs .content
{
	padding:10px;
}

#shop .header
{
	display:block;
	height:30px;
}

#shop .header .left .shop_user
{
	font-size:14px;
	font-weight:bold;
	height:20px;
	margin-left:4px;
	padding-left:15px;
	padding-top:5px;
	text-align:left;
	background:transparent url(images/buddy_offline.png) no-repeat scroll left center;
}

#shop .header .left .shop_user {
	background:url(images/buddy_online.png) no-repeat left center;
}

#shop .panel .left {
	width: 138px;
	float: left;
}

/* user picture */
#shop .panel .left .picture {
	width: 120px;
	overflow: hidden;
}
#shop .panel .right {
	width: 460px;
	float: left;
}

#shop .footer {
	clear:both;
	height: 45px;
}

#shop .footer .left {
	position: absolute;
	left: 0;
	margin-right: 185px;
	bottom: 0;
}

#shop .footer .right {
	position: absolute;
	right: 0;
	bottom: 0;
}

/*
** MessageBox
*/

#messagebox
{
	background:#FFFFFF url(images/bg_shop.gif) repeat scroll 0 0;
	color:#727272;
	width:302px;
	height:294px;
	padding:6px 9px;
}

body.iframe #messagebox a.LayerClose
{
	background:transparent url(images/button_layerclose.gif) repeat scroll 0 0;
	top:8px;
}

#messagebox .block_title_text
{
	color:white;
	padding-left:5px;
}

#messagebox  #message-list
{
	margin-top:1px;
	border-top:1px solid #CCCCCA;
}

#messagebox .message
{
	padding: 5px;
	border-bottom: 1px dotted #810E0B;
}

#messagebox .message img
{
	height:50px;
	width:50px;
}

#messagebox .message .type
{
	width:50px;
	height:50px;
}

#messagebox .message .body
{
	width:182px;
	padding: 0 5px;
}

#messagebox .message .body a
{
	color:#820F0A;
}

#messagebox .message .sender
{
	width:50px;
	height:50px;
}

#messagebox .inner-item-list
{
	height:244px;
}

#messagebox .ajax-pager
{
	padding-top:5px;
}

/*
** First profile
*/

#outter-poker-first-profile
{
	background-color:black;
	height:100%;
	left:0;
	position:fixed;
	top:0;
	width:100%;
	z-index:1000;
	filter: alpha(opacity=60);
    -moz-opacity : 0.6;
    opacity : 0.6;
}

#poker-first-profile
{
	background:transparent url(images/pre_body_bg.gif) repeat scroll top left;
	border:#501713 solid 1px;
	width: 380px;
	padding:15px;
	margin-left:auto;
	margin-right:auto;
	z-index:1042;
}

#poker-first-profile fieldset
{
	border:0 none;
}

#poker-first-profile .title
{
	color:white;
	border-bottom: 1px dotted white;
	padding-bottom:5px;
}

#poker-first-profile .title h1
{
	font-size:14px;
	margin:0;
	padding-bottom:5px;
}

#poker-first-profile .form-item label
{
	float:left;
	font-weight:normal;
	color:lightgrey;
	width:100px;
	text-align:right;
	margin-right:5px;
}

#poker-first-profile .skip_form
{
	color:white;
	text-align:right;
}

#poker-first-profile .custom_input
{
	width:160px;
	margin:0;
}

#poker-first-profile .custom_input.date
{
	width:60px;
}

#poker-first-profile .custom_radio
{
	width:50px;
}

#poker-first-profile .custom_radio label
{
	display:block;
	text-align:left;
	width:auto;
}

#poker-first-profile div.form-radios.custom_radio
{
	float:left;
	margin:-7px 0 0;
	width:230px;
}

#poker-first-profile  .description
{
	color:lightGrey;
	font-size:10px;
	margin-left:105px;
	padding-top:5px;
	padding-bottom:15px;
}

#poker-first-profile	input.custom_radio
{
	width:10px;
}

#poker-first-profile .custom_radio div.form-item
{
	float:left;
}

#poker-first-profile .poker_submit
{
	margin-left:106px;
}


#poker-first-profile div.poker_submit div.label {
	color:#6f480a;
	font-weight:bold;
	text-align:center;
	width:70px;
}

#poker-first-profile p
{
 color: #FFF;
}

#poker-first-profile .first_profile_userlist_avatar
{
    width: 48px;
    height: 48px;
    margin: 5px;
}

/*
** Medium profile
*/

#profile-medium
{
	background:#FFFFFF url(images/bg_shop.gif) repeat scroll 0 0;
	color:#727272;
	width:302px;
	height:294px;
	padding:6px 9px;
}

#profile-medium .picture  img
{
	width:118px;
	height:118px;
}

#profile-medium .picture
{
	height:127px;
}

#profile-medium .links
{
	height:127px;
	padding-left:90px;
	width:94px;
}

#profile-medium .info
{
	width:176px;
	height:100px;
}

#profile-medium .items
{
	width:125px;
	height:114px;
}

#profile-medium img
{
	width:50px;
	height:50px;
	display:block;
	float:left;
}

#profile-medium .abuse
{
	width:176px;
	height:30px;
}

#profile-medium .activate
{
	padding-left:15px;
	width:100px;
	height:30px;
}

#profile-medium .poker_submit
{
	margin-bottom:5px;
}

#profile-medium .poker_submit .label, #profile-medium .poker_submit .label a
{
	width:80px;
	color:#6E4809;
	font-weight:bold;
}

body.iframe #profile-medium a.LayerClose
{
	background:transparent url(images/button_layerclose.gif) repeat scroll 0 0;
	top:8px;
}

#profile-medium .block_title_text
{
	color:white;
	padding-left:5px;
}

#profile-medium  .panel
{
	margin-top:1px;
	border-top:1px solid #CCCCCA;
	padding-top:10px;
}


#profile-medium #item_panel
{
	height:85px;
	background-color:white;
}

#profile-medium .list
{
	float:left;
	height:50px;
	margin-left:10px;
	margin-right:9px;
	margin-top:18px;
	overflow:hidden;
	width:50px;
	border: 1px solid #CDCEC9;
}

#profile-medium .cursor
{
	float:none;
	width:auto;
	height:auto;
	position:absolute;
}

#profile-medium .cursor img.active
{
	width:48px;
	height:48px;
	border:1px solid #810E0B;
}

#profile-medium  .next, #profile-medium .next:hover
{
	float: left;
	background:transparent url(images/buddy_next.png) no-repeat top center;
	width:25px;
	height:70px;
	margin-top:10px;
	margin-left:2px;
	text-decoration:none;
	outline: 0 none;
}

#profile-medium  .previous, #profile-medium .previous:hover
{
	float: left;
	background:transparent url(images/buddy_prev.png) no-repeat top center;
	width:25px;
	height:70px;
	margin-top:10px;
	text-decoration:none;
	outline: 0 none;
}

/**
 * Overlays
 */
#os-poker-overlay h1 {
  color: white;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  margin: 0;
  border-bottom:1px dotted #A8A8A8;
  margin-bottom: 0.5em;
}

#os-poker-pass-reset p {
  margin-bottom: 0.5em;
}

/*
** Who is at the table
*/

#table_users .header
{
	margin-left:13px;
	padding-left:8px;
	padding-right:8px;
	width:284px;
  display: none;
}

#table_users .list
{
	height: 250px;
	width: 300px;
	background: url(images/bg_user_table.gif) repeat-x;
	float: left;
	overflow: hidden;
}

#table_users .userlist .user
{
	margin-left:8px;
	margin-top:17px;
	float:left;
	width:50px;
	height:87px;
	font-size:9px;
	color:#e9dfd1;
	text-align:center;
	overflow:hidden;
}

#table_users .userlist .picture img
{
	width:50px;
	height:50px;
}

#table_users .next
{
	width:15px;
	height:215px;
	float:left;
}

#table_users .previous
{
	width:13px;
	height:215px;
	float:left;
}

/*
** INVITE
*/

#buddies-invite
{
 padding-top: 13px;
 padding-left: 10px;
}

/**
 * Drupal's messages
 */


div.messages
{
	background-color: #a1a09e;
  background-image: url(images/bg_signup_error.gif);
  background-repeat: repeat-x;
  background-position: 0 0;
	color: #000000;
	padding: 0;
}

div.messages.error
{
	border:1px solid #D5271E;
}

div.messages.status
{
	border:1px solid #00DB33;
}

div.messages.warning
{
	border:1px solid #F0C020;
}

div.messages ul
{
	line-height:15px;
	margin:0;
	padding:0;
	vertical-align:middle;
}

div.messages li
{
	margin:0;
	padding:0;
	list-style-type:none;
}

div.messages li li {
  list-style-position: inside;
  list-style-type: circle;
  text-indent: 0.5em;
}

div.poker_error_message
{
	background:transparent url(images/bg_no_result.gif) no-repeat scroll top left;
	width:100%;
	height:264px;
}

div.poker_error_message .msg
{
	font-weight:bold;
	font-size:14px;
	padding-left:172px;
	padding-top:83px;
}

div.poker_error_message .msg a
{
	color:black;
}

#middle-content-right #messages div.messages
{
  z-index: 1;
  width: 300px;
}

.messages-popup
{
    width: 245px !important;
    height: 89px !important;
    padding: 50px 40px 10px !important;
    background: #dfdfdf url(images/messages-popup.jpg) top left repeat-x;
    color: #6c6c6c;
    -moz-box-shadow:1px 2px 3px rgba(5, 5, 5, 0.5);
    box-shadow:1px 2px 3px rgba(5, 5, 5, 0.5);
}

.messages-popup .content {
	height: 206px;
	overflow: auto;
}

.messages-popup a.close
{
	background:transparent url(images/button_layerclose2.gif) repeat scroll 0 0;
	display:block;
	height:20px;
	position:absolute;
	right:11px;
	top:8px;
	width:20px;
	z-index:777;
	text-decoration:none;
	text-indent: -10000px;
  cursor: pointer;
}

.messages-popup div.messages
{
    background: none;
	border: 0;
    color: #6c6c6c;
	font-size: 12px;
    text-align: left;
}
/*
#messages_popup_ajax
{
    width: 501px;
    height: 256px;
    /*background: transparent url("images/bg_confirm_black.png") top left no-repeat;
    position: absolute;
    z-index: 4242;
    top:100px;
    left:70px;
}

#messages_popup_ajax a.LayerClose
{
	background:transparent url(images/button_layerclose2.gif) repeat scroll 0 0;
	display:block;
	height:20px;
	position:absolute;
	right:11px;
	top:8px;
	width:20px;
	z-index:1777;
	text-decoration:none;
}

#messages_popup_ajax  div.error
{
    border: none;
}

#messages_popup_ajax  div.messages
{
    background: none;
    color: white;
    text-align: left;
    position: absolute;
    left: 260px;
    top: 160px;
    width: 220px;
    height: 80px;
    overflow: hidden;
}

#messages_ajax #TB_overlay {
height:100%;
left:0;
position:fixed;
top:0;
width:100%;
z-index:1000;
}

#messages_popup_ajax div.messages
{
 border: none;
 height: 100%;
 width: 100%;
 left: 0px;
 top: 0px;
 height: 225px;
 width: 250px;
 margin-left: 210px;
 margin-top: 20px;
}
*/

#messages_popup div.messages {
 border: none;
 height: 100%;
 width: 100%;
 left: 0px;
 top: 0px;
/* allow simple display for standard messages */
 height: 225px;
 width: 250px;
 margin-left: 210px;
 margin-top: 20px;
}


#TB_ajaxContent.messages-popup a.button {
  position: static;
  background-color: transparent;
  background-image: url(images/button_confirm_yesno.gif);
  background-repeat: no-repeat;
  background-position: 0 0;
  color: #71480A;
  display: block;
  height: 36px;
  width: 87px;
  padding-top: 13px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  text-indent: 0;
  border: 0 !important;
}

/* confirmation dialogs */
#TB_ajaxContent.messages-popup .content .pokerSubmit a {
  color: #6c480c;
  font-weight: bold;
}

#TB_ajaxContent.messages-popup .content {
  background-repeat: no-repeat;
  line-height: 1.4em;
  overflow: auto;
  height: auto;
  max-height: 71px;
}

#TB_ajaxContent.messages-popup .content .messages {
  text-align: inherit;
}

#TB_ajaxContent.messages-popup .content .messages {
  margin-bottom: 1em;
}

.messages.error .header {
	color: darkred;
	font-size: 16px;
	font-weight: bold;
}

/* Hide the messages header and button */
.messages.error .header,
#messages a.button {
  display: none;
}
/* But not when displayed on a thickbox */
#TB_ajaxContent.messages-popup .messages.error .header,
#TB_ajaxContent.messages-popup #messages a.button {
  display: block;
}

.messages.error .header strong {
font-size:23px;
line-height:26px;
margin:0;
padding:0 0 2px;
}
.messages.error .li {
color:#FFFFFF;
font-size:12px;
font-weight:bold;
/*padding:10px 0 0 256px;*/
padding:10px 0 0 46px;
}

/**
 * Login failed form
 */
 #os-poker-failed-login-form {
   padding-left: 100px;
}

#os-poker-failed-login-form .container-inline {
  margin-top: 10px;
  margin-bottom: 10px;
}

#os-poker-failed-login-form .form-item label {
  display: inline-block;
  margin-left: -100px;
  width: 100px;
  text-align: right;
}

#os-poker-failed-login-form .form-item label.option {
  display: inline;
  margin-left: 0;
}

#os-poker-failed-login-form a.close {
  font-weight: bold;
}

/**
 * Buddy list
 */
div#buddylist  #today_gift,
div#buddylist  #today_gift_invite
{
	float: left;
}

/**
 * Languages bar
 */

.language-bar a {
  margin-left: 5px;
}

.language-bar a.text {
	margin-right:5px;
}

.language-bar a.current
{
	font-weight:bold;
}

.language-bar a.logout {
  font-weight: bold;
  vertical-align: middle;
  margin-top: 4px;
}

#header .language-bar a {
  display: block;
  float: left;
}

#footer .language-bar {
	padding-bottom: 5px;
	color: #fff;
}

/* hide language choices */
.language-bar a.language-link {
  display: none !important;
}
#footer .language-bar {
  display:none !important;
}

/**
 * buddy_list
 */

 .buddy_list_picture img {
	height:50px !important;
	width:50px !important;
}

/**
 * Global rules for all poker pages.
 * TODO: Clean poker pages markup to use these rules instead of page specific
         ones. See for instance the rules to style the poker/messagebox with
         the #messagebox selector.
 */
.page-poker
{
  background:transparent url(images/bg_shop.gif) repeat-x scroll 0 0;
}

.page-poker #content-header .title-wrapper
{
	background-color: transparent;
  background-image: url(images/bg_titlebar.gif);
  background-repeat: repeat-x;
  background-position: top left;
	height:20px;
	padding-top:3px;
  padding-left:5px;
}


.page-poker #content-header .title-wrapper h1
{
  color: white;
	font-size:11px;
	font-weight:bold;
}

body.page-poker #content-header .title-wrapper a.LayerClose
{
  background-image: url(images/button_layerclose2.gif);
  top: 1px;
  right: 1px;
}

/*
 * Padding on ALL poker pages should done with rules using a generic selector.
 * Until then, we can rely on adding margin to know element to avoid messing
 * with page using specific rules.
 */

.page-poker #content-header .title-wrapper
{
  /*Pages using specific markup don't use the .poker-title-wrapper element*/
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

#os-poker-report-abuse-form
{
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  width: 300px;
}


/*
 *  Helpbox
 */

.helpbox {
	padding: 10px; /* actually like the .content class*/
	overflow: auto;
	position: relative;
	height: 330px;
}

.helpbox-title {
	padding: 0.3em 1% !important;
	color: #fff;
}

dl.helpbox-list {
	overflow: hidden;
}

* html dl.helpbox-list {
	height: 1%;
}

dl.helpbox-list dt,
dl.helpbox-list dd {
	float: left;
	height: 75px;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	background: #fff;
	width: 392px;
}

dl.helpbox-list dt {
	clear: both;
	font-weight: bold;
	border-right: none;
	width: 150px;
}

.helpbox h5 {
	display: block;
	font-size: 1em;
}

.helpbox ul,
.helpbox ol.helpbox-list {
	margin-left: 2em;
	margin-bottom: 1em;
}

.helpbox ul.helpbox-list {
	list-style: none;
	margin-left: 0;
}

.helpbox p,
.helpbox ul.helpbox-list li,
.helpbox ol.helpbox-list li {
	margin-bottom: 0.5em;
}

/*
 *  Cards / Help
 *  this should actually be placed in a CSS file that comes with the os_poker module
 */

.poker-hand {
	display: block;
	width: 150px;
	height: 42px;
	text-indent: -10000px;
}

.poker-hand.royal-flush {
	background: url(images/cards/hands/royal_flush.gif) no-repeat;
}
.poker-hand.straight-flush {
	background: url(images/cards/hands/straight_flush.gif) no-repeat;
}
.poker-hand.four-of-a-kind {
	background: url(images/cards/hands/4_of_a_kind.gif) no-repeat;
}
.poker-hand.full-house {
	background: url(images/cards/hands/full_house.gif) no-repeat;
}
.poker-hand.flush {
	background: url(images/cards/hands/flush.gif) no-repeat;
}
.poker-hand.straight {
	background: url(images/cards/hands/straight.gif) no-repeat;
}
.poker-hand.three-of-a-kind {
	background: url(images/cards/hands/3_of_a_kind.gif) no-repeat;
}
.poker-hand.two-pairs {
	background: url(images/cards/hands/2_pair.gif) no-repeat;
}
.poker-hand.one-pair {
	background: url(images/cards/hands/one_pair.gif) no-repeat;
}
.poker-hand.high-card {
	background: url(images/cards/hands/high_card.gif) no-repeat;
}

/**
 * From jquery.css in shindig integrator
 * temporary hack until we figure how to do it properly
 */
.ui-tabs {padding: .2em;}
.ui-tabs-nav { padding: .2em .2em 0 .2em;  position: relative; }
.ui-tabs-nav li { float: left; border-bottom: 0 !important; margin: 0 .2em -1px 0; padding: 0; }
.ui-tabs-nav li a { display:block; text-decoration: none; padding: .5em 1em; }
.ui-tabs-nav li.ui-tabs-selected {  padding-bottom: .1em; border-bottom: 0; }
.ui-tabs-panel { padding: 1em 1.4em;  display: block; border: 0; background: none; }
.ui-tabs-hide { display: none !important; }
