/**
 * Quick n' Dirty fix to Avoid scrollbars in thickboxes
 * See http://drupal-dev.pokersource.info/trac/ticket/92
 */
html.framed body {
  overflow: hidden;
}

/**
 * Thickboxes
 */
body.iframe a.LayerClose
{
	background-color: transparent;
	background-image: url(images/button_layerclose.gif);
	background-repeat: no-repeat;
	background-position: center center;
	display:block;
	height:20px;
	position:absolute;
	right:11px;
	top:10px;
	width:20px;
	z-index:777;
	text-decoration:none;
}

/**
 * BUDDIES
 */

#buddies-tabs
{
	background-color: transparent;
  background-image: url(images/bg_buddies.gif);
  background-repeat: repeat-x;
	height: 455px;
	padding: 5px;
	width: 622px;
}

/*
** Profile
*/

.profile_user
{
	background:transparent url(images/buddy_offline.png) no-repeat scroll left center;
	padding-left:12px;
	padding-bottom:3px;
	padding-top:1px;
}

.profile_user.online
{
	background:transparent url(images/buddy_online.png) no-repeat scroll left center;
}

.card
{
	font-size:11px;
	font-weight:bold;
	padding-right:3px;
}

.card img
{
	vertical-align:middle;
	width:12px;
	height:12px;
}

.card.color_h, .card.color_d
{
	color:#e61408;
}

.card.color_c, .card.color_s
{
	color:black;
}

#profile-tabs
{
	background:transparent url(images/bg_shop.gif) repeat-x scroll 0 0;
	height:455px;
	padding:5px;
	width:622px;
	color:#727272;
}

#profile-tabs .block_title_bar
{
	padding-left:5px;
}

#profile-tabs .block_title_text
{
	color:white;
}

#profile-tabs .poker_submit .label
{
	color:#6E4809;
	font-weight:bold;
}

#profile-tabs #profile
{
	padding-left:17px;
}

#profile-tabs .header
{
	padding-top:23px;
	height:25px;
}

#profile-tabs .header .left
{
	width:230px;
}

#profile-tabs .header .right
{
	text-align:right;
	width:350px;
	padding-top:3px;
	font-weight:bold;
}

#profile-tabs .profile_user
{
	font-size:14px;
	font-weight:bold;
	padding-left:15px;
	padding-top:3px;
	font-size:14px;
}


#profile-tabs .middle .left
{
	width:140px;
}

#profile-tabs .picture  img
{
	width:118px;
	height:118px;
}

#profile-tabs .middle .right
{
	width:441px;
}

#profile-tabs .middlebottom
{
	height:50px;
	padding-top:5px;
}

#profile-tabs .middlebottom .right-aligned
{
	margin-right:24px;
}

#profile-tabs .bottom .left
{
	margin-right:37px;
	width:272px;
}

#profile-tabs .bottom .right
{
	width:272px;
}

#profile-tabs .bottom .item-list
{
	padding-top:12px;
	height:150px;
}

#profile-tabs .bottom .inner-item-list img.active
{
	width:48px;
	height:48px;
	border:1px solid #810E0B;
}

#profile-tabs .bottom .inner-item-list
{
	height:120px;
	border-bottom: 1px dotted #810E0B;
	padding-left:12px;
	overflow:hidden;
}

#profile-tabs .bottom .item-list img
{
	margin-right:15px;
	margin-bottom:8px;
	width:50px;
	height:50px;
}

/*
** Shop
*/

#shop-tabs
{
	background:transparent url(images/bg_shop.gif) repeat-x;
	height:455px;
	padding:5px;
	width:622px;
}

#shop-tabs .content
{
	padding:10px;
}

#shop
{

}

#shop .left
{
	float:left;
}

#shop .right
{
	float:left;
}

#shop .header
{
	display:block;
	height:30px;
}

#shop .header .left .shop_user
{
	font-size:14px;
	font-weight:bold;
	height:20px;
	margin-left:4px;
	padding-left:15px;
	padding-top:5px;
	text-align:left;
	background:transparent url(images/buddy_offline.png) no-repeat scroll left center;
}

#shop .header .left .shop_user
{
	background:transparent url(images/buddy_online.png) no-repeat scroll left center;
}

#shop .panel .left
{
	width: 138px;
}
#shop .panel .left .top img
{
	width: 110px;
}
#shop .panel .right
{
	width: 460px;
}

#shop .footer
{
	clear:both;
	padding-top: 10px;
}

#shop .footer .right
{
	width: 415px;
}

/*
** MessageBox
*/

#messagebox
{
	background:#FFFFFF url(images/bg_shop.gif) repeat scroll 0 0;
	color:#727272;
	width:302px;
	height:294px;
	padding:6px 9px;
}

body.iframe #messagebox a.LayerClose
{
	background:transparent url(images/button_layerclose2.gif) repeat scroll 0 0;
	top:8px;
}

#messagebox .block_title_text
{
	color:white;
	padding-left:5px;
}

#messagebox  #message-list
{
	margin-top:1px;
	border-top:1px solid #CCCCCA;
}

#messagebox .message
{
	padding: 5px;
	border-bottom: 1px dotted #810E0B;
}

#messagebox .message img
{
	height:50px;
	width:50px;
}

#messagebox .message .type
{
	width:50px;
	height:50px;
}

#messagebox .message .body
{
	width:182px;
	padding: 0 5px;
}

#messagebox .message .body a
{
	color:#820F0A;
}

#messagebox .message .sender
{
	width:50px;
	height:50px;
}

#messagebox .inner-item-list
{
	height:244px;
}

#messagebox .ajax-pager
{
	padding-top:5px;
}

/*
** First profile
*/

#outter-poker-first-profile
{
	background-color:black;
	height:100%;
	left:0;
	position:fixed;
	top:0;
	width:100%;
	z-index:1000;
	filter: alpha(opacity=60);
    -moz-opacity : 0.6;
    opacity : 0.6;
}

#poker-first-profile
{
	background:transparent url(images/pre_body_bg.gif) repeat scroll top left;
	border:#501713 solid 1px;
	width: 380px;
	padding:15px;
	margin-left:auto;
	margin-right:auto;
	z-index:1042;
}

#poker-first-profile fieldset
{
	border:0 none;
}

#poker-first-profile .title
{
	color:white;
	border-bottom: 1px dotted white;
	padding-bottom:5px;
}

#poker-first-profile .title h1
{
	font-size:14px;
	margin:0;
	padding-bottom:5px;
}

#poker-first-profile .form-item label
{
	float:left;
	font-weight:normal;
	color:lightgrey;
	width:100px;
	text-align:right;
	margin-right:5px;
}

#poker-first-profile .skip_form
{
	color:white;
	text-align:right;
}

#poker-first-profile .custom_input
{
	width:160px;
	margin:0;
}

#poker-first-profile .custom_input.date
{
	width:60px;
}

#poker-first-profile .custom_radio
{
	width:50px;
}

#poker-first-profile .custom_radio label
{
	display:block;
	text-align:left;
	width:auto;
}

#poker-first-profile div.form-radios.custom_radio
{
	float:left;
	margin:-7px 0 0;
	width:230px;
}

#poker-first-profile  .description
{
	color:lightGrey;
	font-size:10px;
	margin-left:105px;
	padding-top:5px;
	padding-bottom:15px;
}

#poker-first-profile	input.custom_radio
{
	width:10px;
}

#poker-first-profile .custom_radio div.form-item
{
	float:left;
}

#poker-first-profile .poker_submit
{
	margin-left:106px;
}


#poker-first-profile div.poker_submit div.label {
	color:#6f480a;
	font-weight:bold;
	text-align:center;
	width:40px;
}

#poker-first-profile p
{
 color: #FFF;
}

#poker-first-profile .first_profile_userlist_avatar
{
    width: 48px;
    height: 48px;
    margin: 5px;
}