/*******************************
 * Stylesheet Drupal @
 * http://playboy.de/poker
 * front page
 *******************************/

body.not-logged-in #main {
	width: 720px;
	padding: 20px 20px 0;
	background: url(images/home/home-main.png) top left no-repeat;
}

body.not-logged-in #middle-content {
}

body.not-logged-in #middle-content-left {
	margin: 0;
}

body.not-logged-in #middle-content-right {
	float: right;
	display: none;
}

body.logged-in #middle-content-right {
	width: 328px;
}

/**
 * Front page teaser
 */

#poker-teaser {
	position: relative;
	height: 404px;
	width: 470px;
	padding-top: 30px;
	padding-left: 270px;
	margin-right: 30px;
	color: #fff;
}

#poker-teaser h2 {
	color: #c7b06c;
	text-transform: uppercase;
	font-size: 1.2em;
	letter-spacing: 0.03em;
}

#poker-teaser h3 {
	margin-bottom: 20px;
	font-size: 1.2em;
}

#poker-teaser p.register-description {
	margin-bottom: 2em;
	width: 200px;
	font-size: 1.1em;
	line-height: 1.4em;
}

#poker-teaser #register-now span,
#poker-teaser #register-now-chips span {
	display: none;
}

#poker-teaser #register-now,
#poker-teaser #register-now-chips {
	display: block;
	cursor: pointer;
}

#poker-teaser #register-now {
	background: url(images/home/registernow.png) no-repeat;
	width: 176px;
	height: 215px;
	position: absolute;
	right: 20px;
	top: 90px;
}

* html #poker-teaser #register-now {
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://poker.playboy.de/sites/all/themes/pbpoker/images/home/registernow.png',sizingMethod='crop');
}

#poker-teaser #register-now-chips {
	background: url(images/home/startbonus.png) no-repeat;
	width: 143px;
	height: 71px;
	margin: 1em 0;
}

#poker-teaser #explanations {
	list-style: none;
	display: block;
	background: url(images/home/goto.png) no-repeat top center;
	position: absolute;
	bottom: 30px;
	right: 20px;
	padding: 7px 25px;
	text-align: center;
}

#poker-teaser #explanations li {
	display: inline;
}

#poker-teaser #explanations li a {
	float: left;
	display: block;
	background: url(images/home/arrow-goto.png) left center no-repeat;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.3em;
	letter-spacing: -0.03em;
	padding: 10px 0 5px 25px;
	margin-right: 25px;
}

* html #poker-teaser #explanations li a {
	margin-right: 15px;
}

#poker-teaser .legal {
	color: #504330;
	position: absolute;
	bottom: 5px;
	left: 275px;
	font-size: 1em;
}

/**
 * Front page banners
 */

#page-front-banners {
	height: 175px;
	width: 760px;
	background-image: url(images/bg_signup_banners.png);
	text-align: center;
	position: relative; /* IE */
	left: -20px;
}

#page-front-banners .banner {
	display: block;
	float: left;
	display: inline; /* ie 6 */
	width: 198px;
	height: 162px;
	margin: 7px 7px 0;
	vertical-align: middle;
	background-repeat: no-repeat;
}

#page-front-banners .banner span {
	display: none;
}

#page-front-banners #banner-signup {
  background-image: url('images/front-banner-signup.gif');
}

#page-front-banners #banner-tournament {
  background-image: url('images/front-banner-tournament.gif');
}

#page-front-banners #banner-join {
  background-image: url('images/front-banner-join.gif');
  width: 321px;
}

/***********************************
 * search engine optimisation text
 * ********************************/

#seo {
	background: #1d1d1d;
	color: #797979;
	font-size: 0.9em;
	padding: 20px 15px;
	border-top: 1px solid #353430;
	border-bottom: 1px solid #353430;
}

#seo h2, #seo strong {
	font-size: 1.1em;
}

#seo h2 {
	margin-bottom: 0.5em;
}

#seo strong {
	font-weight: normal;
}

/*****************************
 * optin
 * *************************/

#TB_window {
	color: #666;
	background: #0e0e0e url(images/registerboxes-bg.png) repeat-x top left;
	border: 1px solid #555;
}

/* FIXME */
#TB_ajaxContent, #TB_window {
	width: 400px !Important;
}

#home_signup .title {
	display: block;
	/*border-bottom: 1px dotted #fff;*/
	background: url(images/signup-title-en.gif) no-repeat;
	text-indent: -100000px;
	overflow: hidden;
	height: 55px;
}

#home_signup .form-item label {
	float: left;
	clear: left;
	width: 150px;
	margin-right: 10px;
	font-weight: normal;
	text-align: right;
}

#home_signup .form-text {
	width: 190px;
}

#home_signup_teaser {
	position: absolute;
	bottom: 10px;
	left: 10px;
}

#home_signup_teaser h4 {
	font-size: 1.1em;
	margin-top: 1em;
	background: url(images/signupteaser.png) bottom left no-repeat;
	padding-bottom: 55px;
	color: #fff;
}

#messages a {
	color: #fff !important;
}

#home_signup .poker_submit, #terms {
	margin-left: 160px;
}

#terms {
	margin-top: 2em;
}

#messages .messages.error {
	position: absolute;
	left: 10px;
	bottom: 53px;
	height: 75px;
	width: 365px;
	padding: 5px;
	text-align: center;
}
