#user-login-form {
	width: 330px; /* only used when not logged in */
}

div#user_login {
	width: 320px;
}

/* buy / invite buttons must have the same size in german */
#user_login .poker_submit .label {
	width: 60px !important;
}

#page-front-banners #banner-signup {
  background-image: url('images/front-banner-signup-de.png');
}

#page-front-banners #banner-tournament {
  background-image: url('images/front-banner-tournament-de.gif');
}

#page-front-banners #banner-join {
  background-image: url('images/pb-tourney-banner-start.jpg');
}

#registration-window #home_signup .title {
	background: url(images/register/register-title.png) no-repeat 15px 0;
}
