/*******************************
 * Stylesheet Drupal @
 * http://playboy.de/poker
 * front page
 *******************************/

body.not-logged-in #main {
	width: 720px;
	padding: 20px 20px 0;
}

body.not-logged-in #middle-content {
	height: 432px;
}

body.not-logged-in #middle-content-left {
	margin: 0;
}

body.not-logged-in #middle-content-right {
	float: right;
}

body.logged-in #middle-content-right {
	width: 328px;
}

/**
 * Front page teaser
 */

#poker-teaser {
	width: 411px;
	height: 432px;
}

#poker-teaser-table {
	background: url(images/teaser-table-shadow.gif) bottom right no-repeat;
	margin: 20px 0 0 7px;
	padding: 0 6px 8px 0;
}

#poker-teaser-text {
	background: url(images/teaser-text.gif) center center no-repeat;
	width: 143px;
	height: 75px;
	padding: 8px 20px 5px 4px;
	position: absolute;
	right: -185px;
	bottom: 120px;
	color: white;
	z-index: 1;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}

#poker-teaser-text * {
	font-size: 1em;
	font-weight: inherit;
}

#poker-teaser-text h1,
#poker-teaser-text a {
	color: #A8904A !important;
	display: block;
}

#poker-teaser-girl {
	position: absolute;
	right: -320px;
	bottom: 0;
}

/**
 * Front page signup
 */

#home_signup {
	padding-bottom: 5px;
}

#home_signup_form {
	padding-top: 20px;
}

#home_signup_form .form-item label {
	float: left;
	width: 90px;
	text-align: right;
	padding-right: 10px;
	color: #C7C5C5;
	font-weight: normal;
}

#home_signup_form .form-item {
	margin-top:0;
}

#home_signup_form .form-required {
	display:none;
}

#home_signup_form div.poker_submit {
	margin-left: 100px;
}

#home_signup_form  .custom_input {
	width: 190px;
	margin: 0;
}

#messages {
	color: white;
	font-size: 10px;
	width: 295px;
}

#messages #terms {
	margin-left: 100px;
}

/**
 * Front page banners
 */

#page-front-banners {
	height: 175px;
	width: 760px;
	background-image: url(images/bg_signup_banners.png);
	text-align: center;
	position: relative; /* IE */
	left: -20px;
}


#page-front-banners a.banner {
	display: block;
	float: left;
	display: inline; /* ie 6 */
	width: 198px;
	height: 162px;
	margin: 7px 7px 0;
	vertical-align: middle;
	background-repeat: no-repeat;
}

#page-front-banners a.banner span {
	display: none;
}

#page-front-banners #banner-signup {
  background-image: url('images/front-banner-signup.gif');
}

#page-front-banners #banner-tournament {
  background-image: url('images/front-banner-tournament.gif');
}

#page-front-banners #banner-join {
  background-image: url('images/front-banner-join.gif');
  width: 321px;
}
