/**********************************
 * Stylesheet for Drupal
 * @ http://playboy.de/poker
 * ********************************/
body {
	margin: 0;
	border: 0;
	background: #000 url(images/bg.jpg) no-repeat fixed top center;
	font-family: Arial, Verdana, sans-serif;
	font-size: 11px;
	color: #6c6c6c;
	text-align: left;
}

a {
	text-decoration: none;
	font-weight: normal;
	outline: none; /* FF */
	color: #fff;
}

a:hover {
	text-decoration: underline;
}

tr.odd a {
	color: #000;
}

tr.even a {
	color: #000;
}

/* FIXME */
.darkred {
	color: #810E0B;
}

.clear {
	display: block;
	float: none;
	clear: both;
}

.fleft {
	display: block;
	float: left;
}

.right-aligned {
	right: 0;
	position: absolute;
}

.next, .previous {
	cursor: pointer;
}

body.iframe a.LayerClose, #poker-first-profile a.LayerClose, div.tb-fix-margin a.LayerClose, body.iframe #profile-medium a.LayerClose {
	background-image: url(images/button_layerclose.png) !important;
	top: 5px;
	width: 15px;
	height: 15px;
}

body.iframe #profile-medium a.LayerClose, body.iframe #messagebox a.LayerClose, body.page-poker #content-header .title-wrapper a.LayerClose {
	right: 14px;
	top: 9px;
}

/***************************
 * Resetting jquery tab CSS
 ***************************/

.ui-widget-content {
	border: none;
	background: none;
	color: #6c6c6c;
}

.ui-widget-header,
.ui-state-active, .ui-widget-content .ui-state-active {
	background: none;
	border: none;
  border-top: solid 1px transparent;
}

.ui-state-default, .ui-widget-content .ui-state-default {
	background: none;
	border: none;
  border-top: solid 1px transparent;
}

.ui-tabs-nav {
  margin-top: 2px !important;
}

.ui-tabs-nav li {
	margin: 0 !Important;
}

*:first-child+html .ui-tabs-nav li.ui-state-default a {
	margin-top: 2px;
}

.ui-tabs-nav li.ui-state-active a {
  height: 19px;
}

*:first-child+html .ui-tabs-nav li.ui-state-active a {
	margin-top: 1px;
  height: 20px;
  border-bottom: none !important;
}

.ui-tabs-panel {
	padding-top: 0;
	margin-top: 1em;
}
/**************************
* Tabs
* => FIXME : if this appears only in the tabs-window, prefix the css selector
**************************/
div.tabs, ul.tabs {
	height: 24px;
}

div.tabs {
	border-bottom: 1px solid #666;
}

ul.primary {
	font-size: 12px;
	font-weight: bold;
	margin: 5px 7px 0;
	border: none;
	margin-top: 1px;
}

ul.primary li a {
	font-weight: bold;
	border: 1px solid #666 !important;
	border-bottom: none !important;
	background: #DFDFDF url(images/thickboxes/tab.png) repeat-x 0 0;
	color: #666;
	height: 18px;
	display: block;
	float: left;
	padding: 5px 10px 0;
}

ul.primary.ui-tabs-nav li {
	height: 23px;
	overflow: hidden;
}

*:first-child+html ul.primary li a {
	border: 1px solid #666 !important;
	padding-top: 4px;
}

*:first-child+html ul.primary li.active a,
*:first-child+html li.ui-state-active a {
	border-bottom: none !important;
}

ul.primary li.active a, li.ui-state-active a {
	color: #fff !important;
	background: #111 !important;
	/* overlapping illusion : */
	padding-bottom: 1px;
	position: relative;
	z-index: 2;
}

ul.primary li a:hover {
	color: #fff;
}

ul.secondary a {
	color: gray;
}

ul.secondary li a.active {
	color: #fff;
}

/***************************
* Structure
***************************/

#page {
	width: 760px;
	margin: 3px auto 0;
}

#main {
	background: #100B05 url(images/pre_body_bg.png) repeat-x;
	padding: 10px 5px 10px 10px;
	width: 745px;
}

* html #main {
	overflow: hidden;
}

#main.logged_in {
	background: #141007 url(images/body_bg.png) repeat-x;
}

#content-bottom #buddylist {
	margin-top: 10px;
}

#content-bottom #buddylist .block_title_bar {
	position: relative;
}

#content-bottom #buddylist .block_title_bar #edit-online-wrapper label {
	position: absolute;
	top: 3px;
	right: 10px;
}

#content-bottom #buddylist .block_title_bar #edit-online-wrapper #edit-online {
	margin-right: 5px;
	float: left;
}

*:first-child+html #content-bottom #buddylist .block_title_bar #edit-online-wrapper #edit-online {
	margin-top: -3px;
}

#header {
	background: #000 url(images/bg_footer.png) repeat;
	width: 760px;
	height: 100px;
	overflow: hidden;
	position: relative;
}

#header #header-inner {
	background: transparent url(images/bg_header_inner.png) 0 30px repeat-x; /* FIXME combine image with header image */
}

#header #logo {
	padding-top: 21px;
	padding-left: 11px;
	float: left;
}

* html #header #logo {
	display: block;
	width: 189px;
	height: 70px;
	margin-top: 10px;
	margin-left: 5px;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://poker.playboy.de/sites/all/themes/pbpoker/logo.png',sizingMethod='crop');
}

* html #header #logo img {
	display: none;
}

/* We hide all block in header region, except the first two */
#header-blocks .block {
	float: right;
	margin-right: 10px;
	width: 500px;
	overflow: hidden;
	display: none;
}

#header-blocks .block .block-inner {
	float: right;
}

#header-blocks .region-block-1 {
	height: 30px;
	display: block;
}

#header-blocks .region-block-2 {
	height: 66px;
	display: block;
}

#header .language-bar {
	padding-top: 6px;
	margin-left: 0;
}

#footer {
	background: url(images/bg_footer.png);
	height: 77px;
	width: 760px;
	text-align: right;
	padding-top: 11px;
}

#footer #footer-inner {
	padding: 10px;
	background-color: #000;
}

#footer .language-bar a {
	color: #fff;
}

.footer-links, .footer-links a {
	color: #A8904A;
}

#sidebar-left,
#sidebar-right {
	position: fixed;
	top: 0;
	left: 0;
	background-color: gray;
}

/*************************
* Thickboxes - reset main
*************************/
.tabs-window, #profile-medium, #messagebox, .user_relationships_ui_popup_form {
	background: url(images/thickboxes/thickbox.png) repeat-x;
}

#profile-medium, #messagebox, .user_relationships_ui_popup_form {
	color: #fbfbfb;
}

#profile-medium .darkred, #messagebox a, #messagebox .poker_submit input {
	color: #efc57b !important;
}
/*************************
* Thickboxes
*************************/
body.iframe,
body.iframe #page,
body.iframe #main {
	width: auto;
	height: auto;
	margin: 0;
	padding: 0;
}

body.iframe #main {
	background: transparent;
}

#TB_title {
	display: none;
}

#TB_iframeContent {
	margin: 0 0 -3px;
	padding: 0;
	overflow: hidden;
}

#TB_window {
	background-color: transparent;
	border: 0 hidden #525252;
}

body.poker-profile #TB_window {
	top: 71%;
	left: 49%;
}

/* FIXME : rgba */
.TB_overlayBG {
	background-color: #000000;
	filter: alpha(opacity=50);
    -moz-opacity : 0.5;
    opacity : 0.5;
}

/************************
* Login Block => Header
*************************/

#user-login-form {
	overflow: hidden;
}

#user_login {
	color: #FFFFFF;
	height: 45px;
	overflow: hidden;
	text-decoration: none;
	margin-top: 12px;
	white-space: nowrap;
	width: 305px;
	position: absolute;
	right: 10px;
	bottom: 10px;
}

#user_login .user_login_row {
	float: left;
	white-space: nowrap;
	margin-left: 7px;
}

#user_login .user_login_brief_row {
	display: block;
	float: right;
	white-space: nowrap;
	padding-left: 7px;
	padding-top: 2px;
}

#user_login .user_login_line {
	float: none;
	height: 20px;
	text-align: left;
}

#user_login .form-item {
	margin: 0;
	padding: 0;
	text-align: left;
	width: 110px;
	overflow: hidden;
}

#user_login #edit-remember-me-wrapper {
	padding-top: 3px;
	font-size: 10px;
}

* html #user_login .user_login_row {
	display: inline;
	width: 85px;
	margin: 0;
	margin-right: 5px;
	float: left;
}

* html #edit-remember-me-wrapper {
	padding-top: 0 !important;
	margin-top: -6px;
}

/* dirty ie7 fix */
*:first-child+html #user_login #edit-remember-me-wrapper {
	padding-top: 0 !important;
	margin-left: -5px;
}

*:first-child+html #user_login #edit-remember-me-wrapper,
*:first-child+html .small_white_text {
	font-size: 9px !important;
}

#user_login #edit-remember-me {
	vertical-align: middle;
}

#user_login .user_login_clear {
	clear: both;
	float: none;
}

#user_login .custom_input {
	float: left;
	width: 110px;
	margin: 0 0 8px;
}

/* FIXME */
.small_white_text, .small_white_text a {
	text-decoration: none;
	color: #FFFFFF;
	font-size: 10px;
	line-height: 19px;
	white-space: nowrap;
	margin: 0;
	padding: 0;
}

.small_white_text a:hover {
	text-decoration: underline;
}

/******************************
* Header infos when logged in
*******************************/

.chips_count,
.buddy_count {
	padding: 0 0 0 15px;
	margin: 4px 0 0 0;
}

.buddy_count {
	background: url(images/icon_buddies.png) no-repeat;
}

.chips_count {
	background: url(images/icon_chips.png) no-repeat;
}

/* FIXME */
.right_align {
	position: absolute;
	right: 0px;
	text-align: right;
	top: 1px;
}

.custom_input {
	background:  url(images/bg_input_signup.png) repeat-x;
	border: 1px solid #D0D0CF;
	font-size: 11px;
	line-height: 13px;
	padding: 2px;
}

.custom_input option {
	background: #eee;
}
/************************
* the buttons
************************/

div.poker_submit {
	color: #603c08;
	font: normal 12px Arial, sans-serif;
	text-decoration: none;
	cursor: pointer;
	margin-top: 2px;
	overflow: hidden;
}
/* FIXME occurs in profile-medium */
.container-inline div.poker_submit {
	display: inline-block;
	vertical-align: middle;
}

div.poker_submit div.pre {
	background: url(images/button_left.png) no-repeat;
	display: block;
	float: left;
	height: 16px;
	width: 7px;
}

div.poker_submit div.label {
	background: url(images/button_long_right.png) no-repeat top right;
   	padding-right: 7px;
	display: block;
	float: left;
	height: 16px;
	text-align: center;
}

/* FIXME : IE7 does not inherit anything. */
div.poker_submit div.label input {
	border: 0;
	background-color: transparent;
	color: inherit !important;
	font-family: inherit !important;
	font-size: inherit !important;
	font-weight: inherit !important;
	text-decoration: inherit !important;
	cursor: inherit !important;
}

*:first-child+html div.poker_submit div.label input {
	color: #6E4809 !important;
	font-weight: bold !important;
	font-size: 12px !important;
	cursor: pointer !important;
  text-decoration: none !important;
	width: 125px; /* occurs in profile-medium */
}

/*
** The silver one
*/
/*
div.poker_submit.silver div.pre {
  background-image: url(images/silver_button_left.png);
  background-position: left top;
  padding-top: 2px;
}

div.poker_submit.silver div.label {
  background-image: url(images/silver_button_long_right.png);
  background-position: right top;
  color: #313751;
}
*/
/*
** The big one
*/

div.poker_submit.big {
	 background: transparent url(images/bg_button_goldbig_right.png) no-repeat top right;
	 padding-right: 12px;
}

/* FIXME */
div.poker_submit.big div.label {
	background: transparent url(images/bg_button_goldbig_middle.png) repeat-x;
	background-position: top left;
	height: 26px;
	padding-top: 8px;
	padding-right: 0;
	color: #6E4809;
	font-weight: bold;
}

div.poker_submit.big div.pre {
	background: transparent url(images/bg_button_goldbig_left.png) no-repeat;
	background-position: top left;
	height: 34px;
	width: 12px;
}

div.poker_submit.big.disabled {
	background: transparent url(images/bg_button_silverbig_right.png) no-repeat top right;
}

div.poker_submit.big.disabled div.label {
	background: transparent url(images/bg_button_silverbig_middle.png) repeat-x;
	background-position: top left;
	color: #666;
}

div.poker_submit.big.disabled div.pre {
  background: transparent url(images/bg_button_silverbig_left.png) no-repeat;
	background-position: top left;
}

div.poker_submit.big:hover {
  background: transparent url(images/bg_button_goldbig_right.png) no-repeat top right;
}

div.poker_submit.big:hover div.pre {
  background: transparent url(images/bg_button_goldbig_left.png) no-repeat;
	background-position: top left;
}

div.poker_submit.big:hover div.label {
  background: transparent url(images/bg_button_goldbig_middle.png) repeat-x;
	background-position: top left;
	text-decoration: underline;
}

div.poker_submit.big.disabled:hover {
	background: transparent url(images/bg_button_silverbig_right.png) no-repeat top right;
}

div.poker_submit.big.disabled:hover div.pre {
  background: transparent url(images/bg_button_silverbig_left.png) no-repeat;
	background-position: top left;
}

div.poker_submit.big.disabled:hover div.label {
	background: transparent url(images/bg_button_silverbig_middle.png) repeat-x;
	background-position: top left;
}

/**************************
 * Home Signup
 * ***********************/
#home_signup_form div.poker_submit div.label {
	color: #6f480a;
	font-weight: bold;
}

/*************************
* Main menu
*************************/

#navbar {
	height: 28px;
	width: 760px;
	background: #1e1e1e url(images/navi_bg.png) repeat-x 0 0;
	overflow: hidden;
}

#navbar ul.menu {
	margin: 0;
	padding: 0;
	display: block;
	float: none;
}

#navbar ul.menu li {
	display: block;
	float: left;
	height: 23px;
	background: url(images/navi_separator.png) no-repeat top right;
	text-align: center;
	margin: 0;
	padding: 6px 20px 0;
	list-style-type: none;
	list-style-image: none;
}

#navbar ul.menu li a {
	color: #fff;
	font-family: arial; /* FIXME */
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	margin: 0;
	padding: 0;
}

#navbar ul.menu li a:hover {
	text-decoration: underline;
}

/*******************************
 * Cntent bottom : Buddy list
 ******************************/

#buddylist : : selection,
#buddylist : : -moz-selection {
	background: transparent;
}

#buddylist .form-item {
	margin: 0;
	padding: 0;
	text-align: right;
}

#buddylist .header {
	width: 726px;
	padding-left: 8px;
	padding-right: 8px;
	overflow: hidden;
}

#buddylist .header .fleft {
	width: 50%;
}

#buddylist .header label {
	color: #E9DFD1;
	font-size: 11px;
	font-weight: bold;
	vertical-align: middle;
}

/* FIXME : this is a general element */
.block_title_bar {
	background: url(images/bg_titlebar.png) repeat-x top left;
	height: 20px;
	padding-top: 3px;
	font-size: 12px;
}

.block_title_text {
	color: #E9DFD1;
	font-size: 11px;
	font-weight: bold;
}

#buddylist #buddy_panel {
	background-color: #EAE8E5;
	background-image: url(images/bg_buddy_panel.png) repeat-x;
	width: 740px;
	height: 182px;
	padding-left: 2px;
}

#buddylist .list {
	float: left;
	height: 172px;
	overflow: hidden;
	padding-left: 1px;
	width: 559px;
	position: relative;
}

#buddylist .cursor {
	float: none;
	width: auto;
	height: auto;
	position: absolute;
}

.buddy_list_block {
	border-bottom: 1px dotted #8C8C8C;
	border-right: 1px solid #A2A2A0;
	height: 167px;
	padding-top: 4px;
	width: 79px;
	float: left;
	text-align: center;
	background: url(images/bg_buddy_list_block.png) repeat-x bottom right;
}

.buddy_list_number {
	background: url(images/buddy_number_bg.png) no-repeat 0 0;
	color: #fff;
	margin-left: 10px;
	text-align: center;
	width: 15px;
	height: 16px;
	*float: left;
}

.buddy_list_number.golden {
	background: url(images/buddy_first_number_bg.png) no-repeat;
	color: #000;
}

#buddylist .buddy_list_placeholder {
	background: url(images/buddy_invite.png) no-repeat left 20px;
	height: 130px;
	width: 63px;
	margin: 6px auto 0;
	position: relative;
}

#buddylist .buddy_list_placeholder .title {
	color: #fbbe6b;
	font-weight: bold;
}

#buddylist .buddy_list_placeholder .body {
	margin-top: 87px;
	line-height: 1.1em;
}

#buddylist .buddy_list_placeholder .body a {
	color: #000;
	font-weight: bold;
}

.buddy_list_name {
	margin-left: 4px;
	padding-left: 12px;
	padding-top: 5px;
	text-align: left;
	background: url(images/buddy_offline.png) no-repeat left center;
}

.buddy_list_name.online {
	background: url(images/buddy_online.png) no-repeat left center;
}

.buddy_list_name,
.buddy_list_name a {
	font-weight: bold;
	overflow: hidden;
	padding-bottom: 5px;
	width: 60px;
	white-space: nowrap;
}

.buddy_list_chips {
	padding-bottom: 10px;
}

.buddy_list_links a {
	font-weight: bold;
	white-space: nowrap;
}

.buddy_list_name, .buddy_list_name a, .buddy_list_chips {
	color: #5f5e5a;
}

.buddy_list_links, .buddy_list_links a {
	color: #8a753e;
}

#buddylist #today_gift {
	background: url(images/bg_today_gift.png) no-repeat center bottom;
	width: 87px;
	height: 170px;
	color: #6b6b6b;
	text-align: center;
	font-size: small; /* FIXME */
	cursor: pointer;
}

/* this button uses a particular css, so it can be centered without having a fixed width */
#buddylist #today_gift .pre,
#buddylist #today_gift .label {
	float: none;
	display: inline-block;
	height: 16px;
	line-height: 16px;
	vertical-align: middle;
}

*:first-child+html #buddylist #today_gift .pre,
*:first-child+html #buddylist #today_gift .label {
	display: inline;
}

*:first-child+html #buddylist #today_gift .label {
	margin-left: 0;
}

*:first-child+html #buddylist #today_gift input {
	width: auto;
}

#buddylist #today_gift .label {
	margin-left: -3px;
}

#buddylist .next,
#buddylist .next:hover {
	float: left;
	background: url(images/buddy_next.png) no-repeat top center;
	width: 25px;
	height: 150px;
	margin-top: 20px;
	margin-left: 2px;
	text-decoration: none;
	outline: none;
}

#buddylist .previous,
#buddylist .previous:hover {
	float: left;
	background: transparent url(images/buddy_prev.png) no-repeat top center;
	width: 25px;
	height: 150px;
	margin-top: 20px;
	text-decoration: none;
	outline: 0 none;
}

/*
**
*/

#middle-content {
	display: block;
	float: none;
	width: 100%;
}

#middle-content-right {
	display: block;
	float: left;
}

#middle-content-left {
	margin-right: 12px;
	float: left;
	/* FIXME : needs width */
}

* html #middle-content-left,
* html #middle-content-right { /* float => double margin bug */
	display: inline;
}

#middle-content-left,
#middle-content-left-table {
	display: block;
}

#middle-content-left .iframe_div {
	height: 489px;
	padding: 0 !important;
	width: 405px;
	overflow: hidden;
}

#middle-content-left-table .iframe_div {
	height: 600px;
	margin-top: -15px;
	margin-left: -10px;
	margin-bottom: -10px;
	padding: 0 !important;
	width: 760px;
}

#remote_iframe_os_poker {
	background-color: transparent;
}

#remote_iframe_os_poker_title {
	display: none;
}

/***************************
* Homepage : user brief (top)
***************************/

#user-brief {
	background: #fff url(images/bg_user_brief.png) left -20px repeat-x;
	color: #635E58;
	font-weight: bold;
	height: 72px;
	width: 395px;
	padding: 5px;
	margin-bottom: 4px;
}

#user-brief .avatar img {
	height: 69px;
	width: 69px;
	display: block;
	padding: 0;
	margin: 0;
	border: 1px solid #653a38;
}

#user-brief .info1 {
	width: 140px;
	padding-left: 8px;
}

#user-brief p {
	margin: 0;
	padding-top: 5px;
}

#user-brief p.welcome {
  font-size: 1.2em;
  height: 2.25em;
  overflow: hidden;
}

#user-brief p.info {
	padding-top: 10px;
}

#user-brief p.info b {
	color: #A9804A;
}

/*
** User Brief REWARDS
*/

.reward_separator {
	width: 10px;
}

.reward_icon {
	float: left;
	margin: 10px 10px 0 0;
}

.reward_picture {
	width: 32px;
	height: 32px;
}

.reward_status {
	margin: 8px 0 0;
	width: 115px;
	margin-left: 45px;
}

/*************************
* Homepage : Play now
*************************/

#play-now  {
	height: 81px;
	width: 320px;
	margin-bottom: 5px;
}

#play-now p.text {
	font-weight:bold;
	text-align: center;
	margin-top: 10px;
}

#play-now #play-now-button {
    display: block;
	background: url(images/play_now.png) no-repeat top center;
	height: 46px;
	width: 320px;
	margin-top: 10px;
}

/* FIXME : this part should go to a specific german CSS ie pbpoker-de.css */
body.de #play-now #play-now-button {
	background-image: url(images/play_now-de.png);
}

/********************************
* Create account => First profile
********************************/

#poker-first-profile {
	background: #0c0c0c url(images/register/registerboxes_bg.png) repeat-x top left;
	border: 1px solid #555;
}

#poker-first-profile .title h1 {
	text-indent: -100000px;
}

#poker-first-profile .title {
	background: url(images/register/create-profile-title.png) no-repeat top left;
	height: 56px;
	padding: 0;
	margin-top: -10px;
}

#poker-first-profile .body h5,
#poker-first-profile .footer,
#poker-first-profile .footer h5 {
	color: #fff;
	font-size: 1em;
}

#poker-first-profile .footer h5 {
	font-weight: bold;
}

/******************************
* Thickbox : Profile => Ranking
*******************************/

#ranking {
	padding-left: 17px;
}

#ranking .panel .right {
	padding-left: 15px;
}

*:first-child+html #ranking .panel .left .block_title_bar {
	width: 115px;
	margin-top: 5px;
}

*:first-child+html #ranking .panel .right .block_title_bar {
	width: 450px;
}

#ranking .inner-item-list {
	height: 308px;
	padding-left: 15px;
	width: 445px;
}

#ranking .ajax-pager {
	padding-top: 5px;
}

#ranking .buddy_list_block {
	border: 1px solid #c7c5c6;
	background: #fff none;
	width: 72px;
	height: 118px;
	margin-top: 20px;
	margin-right: 15px;
}

#ranking .buddy_list_name, #ranking .buddy_list_name a {
	color: #343434;
	width: 50px;
}

#ranking .buddy_list_chips {
	color: #343434;
}

/*******************************
* Thickbox : Profile => Update profile
********************************/

#profile-update {
	padding-left: 17px;
}

#profile-update .form-item {
	margin: 0;
	padding-top: 10px;
	padding-right: 10px;
	height: 22px;
}

#profile-update .form-item label {
	float: left;
	width: 110px;
	text-align: right;
	padding-right: 3px;
	padding-top: 3px;
	height: 19px;
	white-space: nowrap;
}

#profile-update .form-item input {
	width: 150px;
}

#profile-update .form-radios.custom_radio {
	float: left;
	margin: -5px 0 0;
	width: 230px;
}

#profile-update .gender_container {
	padding-top: 5px;
	display: inline-block;
}

*:first-child+html #profile-update .gender_container {
	padding-top: 7px;
}

#profile-update	input.custom_radio {
	width: 10px;
	vertical-align: middle;
}

#profile-update	.custom_radio label {
	width: auto;
	vertical-align: middle;
}

#profile-update .custom_radio .form-item {
	float: left;
}

#profile-update .separator {
	float: none;
	clear: both;
	height: 50px;
	margin-bottom: 10px;
}

#profile-update .poker_submit {
	margin-left: 355px;
}

#profile-update .image_promo {
	position: relative;
	width: 113px;
	height: 197px;
	margin-top: 10px;
	background: url(images/thickboxes/profilebunny.png) bottom left no-repeat;
}

#profile-update .image_promo p.Dollar {
	position: absolute;
	left: 10px;
	bottom: 5px;
	padding: 15px 10px 5px 0px;
}

#profile-update select option {
	padding: 0 5px !important;
}

/* custom browse button */
#profile-update .picture_upload_button {
	background-position: left !important;
	cursor: pointer;
	margin-top: 1px;
	margin-left: 3px;
}

#profile-update #edit-picture-upload-wrapper label{
  height: 22px;
}

/*****************************
 * Thickbox : Profile
 * with tab-based navigation
 * ***************************/

#profile-tabs .bottom .ajax-pager .item-list {
	background: none !important;
}

#profile-tabs .TableRanking {
	margin: 0 0 16px;
	width: 441px;
	border-collapse: separate;
}

#profile-tabs .TableRanking td {
	padding: 3px 4px 3px 16px;
}

#profile-tabs .TableRanking tr {
	background: #1a1a1a;
	color: #fff;
}

#profile-tabs .TableRanking tr.BgGrey {
	background: #9a9a9a;
}

#profile-tabs .TableRanking td.Column01 {
	font-weight: bold;
	white-space: nowrap;
	width: 60px;
}

#profile-tabs .TableRanking td.Column02 {
	border-right: 1px solid #282828;
	width: 70px;
}

#profile-tabs .TableRanking td.Column03 {
	font-weight: bold;
	white-space: nowrap;
	width: 110px;
}

#profile-tabs .TableRanking td.Column04 {
	white-space: nowrap;
}

#profile-tabs .profile_tourney_info {
	width: 292px;
	height: 198px;
	overflow: hidden;
	background: #eee;
}

#profile-tabs table.TourneyInfo {
	width: 293px;
	color: #6c6c6c;
}

#profile-tabs table.TourneyInfo tr {
	height: 16px;
	color: #6c6c6c !important;
	background: #fff;
}

#profile-tabs table.TourneyInfo tr.BgGrey {
	background: #eee;
}

.TourneyInfo tr.table_header td,
.TourneyInfo tr td.bold {
	font-weight: bold;
}

.TourneyInfo tr td a ,
.TourneyInfo tr td a:hover {
	font-weight: bold;
	color: #810E0B;
}

/*******************************
* Thickbox : Profile => Rewards
*******************************/

#rewards {
	padding-left: 20px;
	padding-right: 20px;
}

#rewards .inner-item-list {
	height: 320px;
	overflow: hidden;
	padding-top: 15px;
	padding-left: 25px;
	margin-bottom: 5px;
}

#rewards .reward {
	background-color: #fff;
	float: left;
	font-weight: bold;
	height: 84px;
	margin-bottom: 15px;
	margin-right: 20px;
	padding-top: 7px;
	position: relative;
	text-align: center;
	width: 90px;
}

#rewards .reward .text {
	padding-left: 1px;
	white-space: normal;
	width: 89px;
}

#rewards .mask {
	position: absolute;
	background-color: transparent;
	width: 90px;
	height: 90px;
	left: 0;
	top: 0;
}

/* FIXME : rgba */
#rewards .mask.disabled {
	background-color: #FFFFFF;
	filter: alpha(opacity=60);
	-moz-opacity : 0.6;
	opacity : 0.6;
}

/******************************
* Thickbox : Buddies => Search
******************************/

#buddies-search {
	color: #ddd;
	overflow: hidden;
	padding: 13px 0 0 58px;
}

#buddies-search .poker_submit .label {
	color: #6E4809;
	font-weight: bold;
}

.buddies-search-banner {
	background: url(images/thickboxes/searchbunny.png) no-repeat left bottom;
	border: 0;
	height: 111px;
	margin: 5px 0 0 0;
	padding: 6px 0 0 155px;
	width: 300px;
}

#buddies-search h2 {
	border: 0;
	font-size: 11px;
	line-height: 17px;
	margin: 0;
	padding: 0;
}

#buddies-search p {
	border: 0;
	line-height: 17px;
	margin: 10px 0 0 0;
	padding: 0;
}

#buddies-search #edit-online-only-wrapper {
	border-top: 1px dotted #a8a8a8;
	border-bottom: 1px dotted #a8a8a8;
	font-weight: bold;
	margin: 0;
	overflow: hidden;
	height: 15px;
	padding: 8px;
	width: 480px;
}

#buddies-search .form-item {
	width: 245px;
	float: left;
	margin: 5px 6px 5px 0;
}

*:first-child+html #buddies-search form div { /* IE7 */
	position:relative;
	z-index: 2;
	overflow: hidden;
}

/* due to poor markup its better to clear here */
#edit-profile-nickname-wrapper,
#edit-profile-gender-wrapper,
#edit-profile-city-wrapper {
	clear: left;
}

#buddies-search .form-text, #buddies-search .form-select {
	border: 1px solid #C9C8C4;
	font-size: 11px;
	line-height: 13px;
	margin: 0;
	padding: 4px;
	width: 235px;
}

#buddies-search .form-select {
	width: 245px;
}

#buddies-search .clear {
	height: 10px;
}

.buddies-search-infos {
	color: #646464;
	font-size: 11px;
	line-height: 17px;
	margin: 20px 0 0 -40px;
	width: 320px;
}

#buddies-list {
	width: 632px;
	position: relative;
}

#buddies-list .buddy_result_list_entry {
	float: left;
	width: 230px;
	height: 70px;
	background: #fff url(images/buddies-bg.png) bottom left repeat-x;
	border: 1px solid #696969;
	margin: 10px 0 0 10px;
	padding: 10px 0 0 10px;
}

#buddies-list .buddy_result_list_picture {
	float: left;
	width: 58px;
}

#buddies-list .buddy_result_list_infos {
	float: left;
	width: 87px;
	margin-left: 10px;
	color: #525252;
}

#buddies-list .buddy_result_list_infos a {
	color: #525252;
	font-weight: bold;
}

#buddies-list .buddy_result_list_name {
	background: transparent url(images/buddy_offline.png) no-repeat left center;
	padding-left: 12px;
	padding-bottom: 3px;
	padding-top: 1px;
}

#buddies-list .buddy_result_list_name.online {
	background: transparent url(images/buddy_online.png) no-repeat left center;
}

#buddies-list .buddy_result_list_links {
	float: left;
	width: 75px;
}

#buddies-list .buddy_result_list_links .poker_submit {
	font-size: 11px;
	margin-bottom: 4px;
	overflow: hidden;
}

#buddies-list .buddy_result_list_picture img {
	height: 58px;
	width: 58px;
}

#buddies-list .footer {
	padding-right: 125px;
	padding-top: 5px;
}

#buddies-invited_list {
	margin-top: 10px;
	margin-left: 10px;
	position: relative;
}

/********************************
 * FIXME : what is that?
 * *****************************/

.BannerTop,
.BannerBottom {
	height: 169px;
	overflow: hidden;
	position: absolute;
	right: 22px;
	width: 86px;
}

.BannerTop {
	top: 10px;
}

.BannerBottom {
	height: 170px;
	top: 195px;
}

/********************************
 * Thickbox : Profile => Settings
 * ******************************/

#user-profile-form .description {
  color: #FFFFFF;
  padding: 5px 0 0 105px;
}

#profile-tabs .header .right {
	color: #fff;
	font-weight: bold;
}

#profile-tabs .header .right .darkred {
	color: #666;
	font-weight: normal;
}

#profile-tabs .bottom {
  height: 300px;
}

#profile-tabs .bottom .item-list {
   height: 60px;
   background: #eee;
}

#profile-tabs .bottom .inner-item-list {
   height: 60px;
   border: none;
}

#profile-tabs .bottom .ajax-pager .item-list {
	padding-top: 0 !important;
}

#profile-tabs .bottom .left {
  margin-right: 15px;
}

#profile-tabs .bottom .right {
  width: 294px;
}

#profile-tabs .middle {
  margin-bottom: 10px;
}

#profile-tabs #profile-last-rewards {
  margin-bottom: 15px;
}

/************************************
* Thickbox : Profile => Ranking
************************************/

#profile-ranking .inner-item-list {
	border: 1px dotted #6c6c6c;
	border-top: none;
}

#profile-tabs #ranking .right .block_title_bar {
  width: 457px;
}

/************************************
* Thickbox : Shop
************************************/
#shop ul.categories {
	padding: 0;
	margin: 0;
	list-style: none;
	width: 138px;
}

#shop ul.categories li a {
	border: 1px solid #6a6a6a;
	border-right: none;
	color: #6c6c6c;
	display: block;
	font-weight: bold;
	height: 23px;
	line-height: 17px;
	margin: 5px 0 0;
	padding: 4px 0 0 7px;
	text-decoration: none;
	background: #fff url(images/bg_button_shopnav.png) repeat-x top left;
}

#shop ul.categories li.active a,
#shop ul.categories li a:hover {
	background: #454545 url(images/bg_button_shopnav_active.png) repeat-x top left;
	color: #e2c87b;
}

#shop ul.categories li a span {
	color: #65605A;
	font-size: 14px;
	padding: 0 2px 0 0;
}

#shop {
	position: relative;
}

#shop .shop_user {
	color: #e3e3e3;
}

#shop #items {
	border: 1px dotted #a8a8a8;
	padding-top: 5px;
	height: 320px;
}

#shop #items .ajax-pager {
	height: 14px;
	position: absolute;
	top: 1.5em;
	right: 10px;
}

#shop #items .shop-item {
	float: left;
	margin: 2px 3px 0 5px;
	overflow: hidden;
}

#shop #items .inner-item-list a {
	background: #fff;
	border: 1px solid #ccc;
	height: 96px;
	margin-bottom: 3px;
	width: 81px;
	color: #727272;
	text-decoration: none;
	display: block;
	/*line-height: 1em;*/
}

#shop #items .shop-item a:hover,
#shop #items .shop-item a.selected {
	/*
	background: #fff url(images/bg_shop_item_hover.png) no-repeat bottom right;
	border-right: none;
	border-bottom: none;
	padding-right: 1px;
	padding-bottom: 1px;
	height: 99px;
	margin-bottom: 0;
	*/
	-moz-box-shadow: 1px 1px 1px #CCCCCC;
	-box-shadow: 1px 1px 1px #CCCCCC;
	border-color: #eee;
	font-size: 1.1em;
}

#shop #items a span img {
	cursor: pointer;
	display: block;
	height: 50px;
	width: 50px;
	margin: 3px auto;
	overflow: hidden;
}

#shop #items a span.Text {
	cursor: pointer;
	display: block;
	font-weight: bold;
	margin: 0 2px;
	width: 75px;
	overflow: hidden;
	text-align: center;
	white-space: normal;
}

#shop .bcontainer {
	float: right;
	margin-left: 10px;
}

#shop div.poker_submit .label {
	height: 31px;
	padding-top: 3px;
}

#shop div.poker_submit.disabled:hover div.label {
	text-decoration: none;
}

/***************************
* Who is at the table/teasers @homepage
****************************/
#table_users {
	margin-top: 29px;
}

*:first-child+html #table_users {
	overflow: hidden;
	margin-top: 39px;
}

#table_users .list.splash {
	background: transparent url(images/user_table_splash.jpg) no-repeat;
}

#table_users .next {
	background: transparent url(images/user-table-next.png) no-repeat bottom right;
}

#table_users .previous {
	background: transparent url(images/user-table-prev.png) no-repeat bottom left;
}

/***************************
* Pager : general pagination
***************************/

ul.pager a {
	background: none !important;
}

ul.pager a.active {
	color: #e1c77c;
	font-weight: bold;
}

ul.pager .pager-current {
	color: #fff;
}

.item-list ul.pager {
	text-align: right;
}

.item-list ul li { /* FIXME selector */
	margin: 0 0 0.25em 0.25em;
}
.item-list .pager li {
	padding: 0;
}

/*************************************
* Thickbox: Buddies => Invite Friends
*************************************/

#buddies-invite {
	padding-left: 5px;
}

#buddies-invite .buddies-invite-left {
	border: 0 none;
	float: left;
	margin: 0;
	overflow: hidden;
	padding: 16px 0 0;
	text-align: left;
	width: 287px;
}

#buddies-invite .DailyBonusStep02 {
	position: relative;
	width: 287px;
	color: #fff;
}

#buddies-invite .DailyBonusStep02 h4 {
	text-transform: uppercase;
	font-size: 1.3em;
}

#buddies-invite .DailyBonusStep02 h4 strong {
	font-size: 1.7em;
	display: block;
	color: #6c6c6c;
}

#buddies-invite .DailyBonusStep02 h4 em {
	color: #fff;
}

#buddies-invite .DailyBonusStep02 #invitethemnow {
	text-transform: uppercase;
	font-size: 1em;
	background: url(images/thickboxes/invitearrow.png) no-repeat left top;
	height: 30px;
	padding-top: 16px;
	padding-left: 45px;
	display: block;
	font-weight: bold;
}

#buddies-invite .DailyBonusStep02 .description {
	padding-left: 80px;
	margin-top: 15px;
}

#buddies-invite .DailyBonusStep02 .description strong {
	display: block;
}

#buddies-invite #chipsoninvitemore {
	background: url(images/thickboxes/invitebunny.png) no-repeat left bottom;
	height: 137px;
	padding: 25px 15px 0 125px;
	margin: 0 0 5px;
}

#buddies-invite #chipsoninvitemore h5 {
	font-size: 1.4em;
}

#buddies-invite #chipsoninvitemore h5 strong {
	font-size: 1.3em;
}

#buddies-invite #chipsoninvitemore p {
	margin-top: 0.7em;
}

#buddies-invite p.Note {
	position: absolute;
	bottom: 5px;
}

#buddies-invite p.Link a {
	color: #666;
	font-weight: bold;
	text-decoration: underline;
	margin-left: 10px;
}

.buddies-invite-right {
	border: 0 none;
	float: right;
	margin: 0;
	overflow: hidden;
	padding: 0;
	text-align: left;
	width: 324px;
	color: #fbfbfb;
}

.buddies-invite-right .form-item {
	float: left;
	margin: 0 6px 10px 0;
}

.buddies-invite-right .form-text {
	border: 1px solid #C9C8C4;
	font-size: 11px;
	line-height: 13px;
	margin: 0;
	padding: 4px;
	width: 126px;
}

*:first-child+html .buddies-invite-right .form-text {
	padding: 3px 4px;
}

.buddies-invite-right .form-textarea {
	width: 305px;
	border: 1px solid #C9C8C4;
	font-family: Arial, sans-serif;
	font-size: 11px;
}

/* FIXME : too vague */
div.num {
	font-weight: bold;
	line-height: 23px;
	text-align: center;
	vertical-align: middle;
	width: 23px;
	float: left;
	color: #6c6c6c !important;
	border-right: 1px solid #666666;
	background-color: #CACACA;
}

div.TeaseMore {
	background: transparent;
	height: 31px;
	text-align: right;
}

div.TeaseMore .poker_submit {
	float: right;
	margin-right: 15px;
}

div.TeaseMore .poker_submit .label {
	padding-top: 9px;
}

/****************************************
* Thickbox : Buddies => Invite => Invited
****************************************/

#buddies-invited_list .TableLeft {
	border: 1px dotted #DADADA;
	width: 452px;
}

#buddies-invited_list .TableLeft th.Column01 {
	width: 105px;
}

#buddies-invited_list .TableLeft th.Column02	{
	width: 82px;
}

#buddies-invited_list .TableLeft th.Column03	{
	width: 68px;
}

#buddies-invited_list .TableLeft th.Column04 {
	width: 63px;
}

#buddies-invited_list .TableLeft th.Column05 {
	width: 66px;
}

#buddies-invited_list .TableLeft tbody {
	border: none;
}

#buddies-invited_list .TableLeft th {
	background: #030303 url(images/bg_titlebar.png) repeat-x left top;
	border: none;
	border-right: 1px solid #292929;
	color: #FFFFFF;
	height: 21px;
	line-height: 16px;
	margin: 0;
	overflow: hidden;
	padding: 0 6px;
}

#buddies-invited_list .TableLeft p {
	margin: 0;
	overflow: hidden;
	white-space: nowrap;
	width: 132px;
}

#buddies-invited_list .TableLeft td {
	border-right: 1px solid #282828;
	padding: 3px 3px 2px 6px;
	overflow: hidden;
	color: #fff;
}

#buddies-invited_list .TableLeft td.Center {
	text-align: center;
}

#buddies-invited_list .TableLeft td.BgWhite { /* its not white, its black. */
	background: #1a1a1a;
}

#buddies-invited_list .TableLeft td.BgGrey {
	background: #515151;
}

#buddies-invited_list .PageNavPosition {
	width: 385px;
}

#buddies-invited_list .PageNavPosition .PageNav {
	float: right;
	margin: 0 -65px 0 0;
}

#buddies-invited_list .PageNav {
	clear: both;
	color: #727272;
	font-weight: bold;
	margin: 6px 0 0;
	padding: 0;
	text-align: right;
}

#buddies-invited_list .PageNavPosition .Legend {
	font-weight: bold;
	margin: 5px 0 0;
	color: #fbfbfb;
}

#buddies-invited_list .PageNavPosition .Legend div {
	float: left;
}

#buddies-invited_list .PageNavPosition .Legend div img {
	margin-left: 5px;
}

#buddies-invited_list #ContainerContentInvite .PageNavPosition .Legend p {
	float: left;
	margin: 0;
	padding: 1px 0 0;
}

#buddies-invited_list .TableRight {
	border: 1px solid #111;
	position: absolute;
	right: 10px;
	top: 0;
	width: 140px;
}

#buddies-invited_list .TableRight tbody {
	border: none;
	background: #fff; /* fixme degrade */
}

#buddies-invited_list .TableRight th {
	background: #030303 url(images/bg_titlebar.png) repeat-x left top;
	border: none;
	color: #FFFFFF;
	height: 21px;
	line-height: 16px;
	margin: 0;
	overflow: hidden;
	padding: 0 6px 1px 10px;
}

#buddies-invited_list .TableRight td {
	font-weight: bold;
	overflow: hidden;
	padding: 6px;
}

#buddies-invited_list .TableRight td span {
	color: #D70504;
}

#buddies-invited_list .TableRight td.Dotted {
	font-size: 1px;
	margin: 0;
	padding: 0 6px;
}

#buddies-invited_list .TableRight div {
	background: transparent url(images/bg_line_dotted.png) repeat-x 0 0;
	height: 2px;
	margin: 0;
}

#buddies-invited_list .InviteMore {
	height: 170px;
	left: 515px;
	position: absolute;
	top: 180px;
	width: 87px;
}

/*************************
* FIXME : Where is that ?
* News
**************************/

#news {
	margin-top: 15px;
}

#news .header {
	margin-left: 13px;
	padding-left: 8px;
	padding-right: 8px;
	width: 284px;
}

#news .header p {
	display: inline;
}

#news .header img {
	vertical-align: top;
}

#news .next {
	background: transparent url(images/news_next.png) no-repeat top right;
	width: 15px;
	height: 76px;
}

#news .previous {
	background: transparent url(images/news_prev.png) no-repeat top left;
	width: 13px;
	height: 76px;
}

#news .middle {
	height: 76px;
	background: transparent url(images/news_bg.png) repeat-x 0 0;
	width: 300px;
	font-weight: bold;
	color: #fff;
}

#news .middle a {
	font-weight: bold;
}

#news .container {
	height: 50px;
	overflow: hidden;
	padding: 5px 10px 2px;
	width: 280px;
}

#news .container p {
	margin-top: 0;
	margin-bottom: 5px;
}

#news .bottom {
	width: 290px;
	text-align: right;
}

/****************************
* Homepage : Promotions/Ads
****************************/

#home_promotion_1, #home_promotion_2 {
	margin-top: 8px;
	overflow: hidden; /* IE7 */
}

#home_promotion_1 .list,
#home_promotion_2 .list {
	height: 100px;
	width: 300px;
	background-color: white;
  background-position: bottom center;
  background-repeat: repeat-x;
  background-image: url(images/bg_home_promotion.png);
  color: #6c6c6c;
	float: left;
	overflow: hidden;
  position: relative;
}

#home_promotion_1 .list .header,
#home_promotion_2 .list .header {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 6px;
}

#home_promotion_1 .list img,
#home_promotion_2 .list img {
  float:left;
  margin:3px 10px 10px;
}

#home_promotion_1 .list p,
#home_promotion_2 .list p {
  padding-right: 5px;
}

#home_promotion_1 .list .poker_submit,
#home_promotion_2 .list .poker_submit {
  margin-top: 5px;
  color: #6F490A;
  font-weight: bold;
  position: absolute;
  left: 135px;
  bottom: 10px;
}

#home_promotion_1 .list .poker_submit a,
#home_promotion_2 .list .poker_submit a {
  color: #6F490A;
  font-weight: bold;
  text-decoration: none;
}

#home_promotion_1 .next,
#home_promotion_2 .next {
	background: transparent url(images/home_promotion_arrow_right.png) no-repeat bottom right;
	width: 15px;
	height: 80px;
	float: left;
}

#home_promotion_1 .previous,
#home_promotion_2 .previous {
	background: transparent url(images/home_promotion_arrow_left.png) no-repeat bottom left;
	width: 13px;
	height: 80px;
	float: left;
}

/****************************
* Thickbox : Forgot password
* from login/header
* or from whithin the new optin process
****************************/

#forgot-password {
	background: #0e0e0e url(images/register/registerboxes_bg.png) repeat-x top left !important;
	border: 1px solid #555 !important;
	float: none;
	margin: 0;
	overflow: hidden;
	color: #fff;
	padding: 15px;
	width: 379px;
	height: 145px; /* fixed height in all languages */
}

*:first-child+html #forgot-password {
	height: 147px; /* fixed height in all languages */
}

/* FIXME : dont repeat that close thing everywhere */
#forgot-password .LayerClose,
#poker-first-profile a.LayerClose {
	background-image: url(images/button_layerclose.png);
}

#forgot-password .form-required {
	display: none;
}

#forgot-password .header h1 {
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	margin: 0;
}

#forgot-password .header p {
	font-size: 11px;
	border-bottom: 1px dotted #A8A8A8;
	font-size: 11px;
	line-height: 17px;
	margin: 5px 0 0;
	padding-bottom: 10px;
	padding-right: 15px;
}

#forgot-password label {
	border: 0 none;
	color: #C7C5C5;
	float: left;
	height: 19px;
	line-height: 19px;
	margin: 0;
	text-align: right;
	width: 95px;
	padding: 0 5px 0 0;
 }

#forgot-password #edit-name {
	width: 150px;
}

#forgot-password .poker_submit {
	margin-left: 100px;
}

#forgot-password .footer {
	padding-right: 15px;
	margin-top: 10px;
	display: none !important;
}

#forgot-password .footer a {
	color: #A8904A;
}

/* confirmation or error message within the forgot password overlay */
#messages .forgot_password_message {
	position: absolute;
	left: 15px;
	width: 380px;
	text-align: center;
	top: 40px;
	height: 45px;
}
/*******************************
* Thickbox : shop => Get chips
* *****************************/

#shop-tabs .block_title_bar {
	padding-left: 5px;
}

.choose_package {
	width: 600px;
	height: 230px;
	background: transparent url(images/bg_chips_package.png) bottom left repeat-x;
}

.choose_package .form-radios {
	position: relative;
}

.chips_icon {
	width: 35px;
	height: 63px;
	background: transparent url(images/chips_icon.png) top left no-repeat;
	margin: 10px 5px 0 20px;
}

.chips_text {
	padding: 15px 10px 0 10px;
}

.chips_title {
	font-size: 13px;
	font-weight: bold;
	color: #000;
}

.chips_desc {
	line-height: 20px;
}

#chips-paypal-form .form-item {
	position: absolute;
	color: #000;
}
#chips-paypal-form .form-item label {
	font-weight: bold;
}
#chips-paypal-form #edit-amount-5-wrapper {
	top: 0;
	left: 80px;
}

#chips-paypal-form #edit-amount-10-wrapper {
	top: 25px;
	left: 80px;
}

#chips-paypal-form #edit-amount-20-wrapper	{
	top: 50px;
	left: 80px;
}
#chips-paypal-form #edit-amount-50-wrapper {
	top: 0;
	left: 350px;
}
#chips-paypal-form #edit-amount-100-wrapper {
	top: 25px;
	left: 350px;
}
#chips-paypal-form #edit-amount-150-wrapper {
	top: 50px;
	left: 350px;
}

.choose_payment {
	width: 600px;
	height: 146px;
	background: transparent url(images/bg_chips_payment.png) bottom left repeat-x;
	border: 1px solid #d7d7d7;
	margin-top: 12px;
}

.choose_payment .poker_submit .label {
	width: 150px;
}

.button_paypal	{
	width: 165px;
	height: 101px;
	margin: 10px;
	background: url(images/chips_buy_button.png) top left no-repeat;
	cursor: pointer;
	padding: 5px 10px;
	text-align: center;
}
.button_paypal .poker_submit {
	margin 0 auto;
}
.button_text {
	width: 370px;
	height: 70px;
	margin: 10px 0;
	padding: 5px 0;
	color: #313131;
}

.logo_paypal {
	width: 130px;
	height: 49px;
	background: transparent url(images/logo_paypal.png) top left no-repeat;
	margin: 8px auto;
}

/*****************************
 * General popup for messages
 * sent out by Drupal
 * ***************************/
.messages-popup {
	height: 300px;
	width: 600px;
	position: relative;
}

.messages-popup a.close {
	text-indent: -10000px;
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 0;
	right: 0;
	background: url(images/button_layerclose.png) no-repeat center center;
}

.messages-popup div.messages.status {
	background-color: transparent !important;
	background-image: none !important;
	border: 0 !important;
}

div.poker_error_message {
    background: url(images/bg_no_result.png?X) no-repeat left 40px;
    width: 100%;
    height: 264px;
	color: #fff;
}

div.poker_error_message .msg a {
	color: #70480b;
	font-weight: bold;
	text-decoration: none;
}

/*****************************
 * popup for messages inside thickboxes
 * ***************************/

body.iframe .messages-popup
{
    height: 55px !important;
    padding: 12px 10px 9px !important;
    background: #dfdfdf url(images/BG_message.png) top left repeat-x;
    color: #6c6c6c;
    border: 1px solid #999999;
	font-size: 85%;
	overflow: hidden !important;
    -moz-box-shadow:0px;
    box-shadow:0px;
/*	width: 95% !important;*/
}

body.iframe .messages-popup .content {
	height: 40px !important;
	overflow: hidden !important;
}

body.iframe .messages-popup a.close
{
	display: none !important;
}


/******************************
 * Overlays (popup boxes)
 ****************************/
#os-poker-overlay .content {
	width: 409px;
	height: 307px;
	border: 1px solid #5b4321;
	background: #251c0d url(images/bg_overlay.png);
	padding: 15px;
}

#os-poker-overlay a.closebutton {
	text-indent: -10000px;
	background-color: transparent;
	background-image: url(images/button_layerclose.png) !important;
	background-repeat: no-repeat;
	background-position: center center;
}

/***********************************
 * Homepage: Poker teaser
 * image & flash tutorial
 * ********************************/

#poker-teaser {
	position: relative;
}

#poker-teaser .info {
	color: #fff;
	margin: 15px 80px 15px 15px;
}

#poker-teaser .info strong {
	color: #A8904A;
}

#poker-teaser #poker-tutorial {
	display: none;
}

#poker-teaser #poker-tutorial #TB_ajaxContent .tb-fix-margin {
	/*margin: -2px -13px -15px;*/
	/*margin-right: -5px;*/
}

/**********************************
 * Welcome splash = overlay after
 * account creation
 *********************************/

#os-poker-overlay .welcome-splash {
	background-image: url(images/bg_welcome.jpg);
	padding: 0;
	height: 366px;
	width: 566px;
	margin-top: 100px !important; /* this overrides the overlay behaviour. */
}

#welcome-splash h1 {
	display: none;
}

#welcome-splash .text {
	color: #fff;
	font-size: larger;
	margin-left: 85px;
	margin-top: 113px;
	width: 335px;
}

#welcome-splash .text p {
	margin-bottom: 1em;
}

#welcome-splash .text strong {
	font-size: larger;
}

#welcome-splash ul.links {
	margin-left: 180px;
	width: 141px;
}

#welcome-splash ul.links li {
	margin-top: 5px;
	display: block !important;
}

#welcome-splash ul.links a {
	display: block;
	width: 141px;
	height: 28px;
	padding-top: 7px;
	background-image: url(images/button_welcome.png);
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none !important;
}

/* FIXME : german */
body.de #welcome-splash ul.links a {
    font-size: 13px;
	padding-top: 11px;
	height: 24px;
}

/*******************************
 * Thickbox Help => Poker hands
 ******************************/

.poker-hand.royal-flush {
	background: url(images/cards/hands/royal_flush.png) no-repeat;
}
.poker-hand.straight-flush {
	background: url(images/cards/hands/straight_flush.png) no-repeat;
}
.poker-hand.four-of-a-kind {
	background: url(images/cards/hands/4_of_a_kind.png) no-repeat;
}
.poker-hand.full-house {
	background: url(images/cards/hands/full_house.png) no-repeat;
}
.poker-hand.flush {
	background: url(images/cards/hands/flush.png) no-repeat;
}
.poker-hand.straight {
	background: url(images/cards/hands/straight.png) no-repeat;
}
.poker-hand.three-of-a-kind {
	background: url(images/cards/hands/3_of_a_kind.png) no-repeat;
}
.poker-hand.two-pairs {
	background: url(images/cards/hands/2_pair.png) no-repeat;
}
.poker-hand.one-pair {
	background: url(images/cards/hands/one_pair.png) no-repeat;
}
.poker-hand.high-card {
	background: url(images/cards/hands/high_card.png) no-repeat;
}

.helpbox { /* jquery tabs menu slightly different */
	clear: both;
}

.helpbox .content {
	background: #cbcbcb url(images/bg_help.png) top left repeat-x;
	padding: 0.5em;
	border: 1px dotted #666;
	border-top: none;
}

/**********************************
 * Report abuse
 * FIXME : where ist that ?
 *********************************/

body.poker-report-abuse #page {
	padding-top: 1px;
	background: #dedfe1 url(images/bg_report_abuse.png) repeat-x;
}

#os-poker-report-abuse-form label.option {
	font-weight: bold;
}

#os-poker-report-abuse-form #edit-details-wrapper label {
	margin-bottom: 10px;
}

/*****************************
 * Tourney notification
 * appears on top of pages
 * **************************/

#tourney-notify-template {
	display: none;
}
#tourney-notify {
	width: 742px;
	height: 24px;
	margin-bottom: 11px;
	background: #fff url(images/tourney-notify.png) repeat-x top left;
	border: 1px solid #a7a7a7;
	border-bottom: 0;
	display: none;
}

#tourney-notify .notify-text {
	padding-top: 6px;
	text-align: center;
	color: #65605c;
}

#tourney-notify a,
#tourney-notify a:hover {
	color: #65605c;
	font-weight: bold;
	font-decoration: none;
}

#tourney-notify a.close-button {
	float: right;
	display: block;
	position: relative;
	width: 19px;
	height: 20px;
	margin: 2px 4px 0px 0px;
	background-image: url(images/close.png);
	background-repeat: no-repeat;
	background-color: transparent;
	pointer: cursor;
}

/*****************************
 * Static page : tourney-info
 * ***************************/
body.poker-tourneyinfo {
	background: #141007 url(images/tourney_body_bg.png) repeat-x;
}

.poker-tourneyinfo #tourney-teaser {
	width: 742px;
	height: 194px;
	display: block;
	margin-bottom: 1em;
	background: url(images/tourney/teaser-head.jpg) no-repeat center top;
	position: relative;
}

.poker-tourneyinfo #tourney-teaser h2 a {
	position: absolute;
	bottom: 35px;
	left: 20px;
	background: url(images/tourney/register.gif) no-repeat;
	display: block;
	width: 146px;
	height: 28px;
	text-indent: -20000px;
}

body.poker-tourneyinfo #middle-content-left {
	width: 498px;
	margin-right: 5px;
}

body.poker-tourneyinfo #middle-content-right {
	width: 240px;
}
/*
.poker-tourneyinfo .banner-box {
	color: #fae991;
	background: #000;
	margin-bottom: 1.5em;
}

.poker-tourneyinfo .banner-box#become-member-box {
	padding-bottom: 0.2em;
}

.poker-tourneyinfo .banner-box#become-member-box h3 {
	background: url(images/member_banner_background_only.jpg) no-repeat -1px top;
	height: 48px;
	margin-bottom: 0.5em;
}

.poker-tourneyinfo .banner-box#become-member-box h3 span {
	display: none;
}

.poker-tourneyinfo .banner-box#become-member-box .poker_submit {
	margin: 1em 1em 0.3em 30px;
	width: 110px;
}

.poker-tourneyinfo .banner-box p {
	padding-left: 30px;
	padding-right: 10px;
	line-height: 1.4em;
}

.poker-tourneyinfo a#banner-tourney {
	background: url(images/pb_tourney_banner.jpg);
	display: block;
	width: 322px;
	height: 210px;
}

.poker-tourneyinfo a#banner-millions {
	background: url(images/millions.jpg);
	display: block;
	width: 322px;
	height: 162px;
}
*/
.poker-tourneyinfo .tourney-infobox {
	background: #1e1e1e;
	background-repeat: no-repeat;
	background-position: 10px 25px;
	color: #fff;
	padding-bottom: 0.3em;
	margin-bottom: 1em;
}

.poker-tourneyinfo #middle-content-left .tourney-infobox {
	height: 135px;
}

#poker-masters {
	background-image: url(images/tourney/teaser_master.jpg);
}

#bunny-hunter {
	background-image: url(images/tourney/teaser_bunnyhunter.jpg);
}
#millions {
	background-image: url(images/tourney/teaser_club.jpg);
}
#after-work {
	background-image: url(images/tourney/teaser_afterwork.jpg);
}
#gentlemen {
	background-image: url(images/tourney/teaser_club.jpg);
}

#prize-box ul {
	background: url(images/tourney/teaser_prices.jpg) top center no-repeat;
	padding-top: 110px;
}

#participation-box p {
	background: url(images/tourney/teaser_participate.jpg) top center no-repeat;
	padding-top: 110px;
}
#video-box #gototuto {
	background: url(images/tourney/teaser_videotut.jpg) top center no-repeat;
	padding-top: 130px;
}

.poker-tourneyinfo .tourney-infobox h3 {
	background: #000 url(images/headlines_background.jpg) repeat-x top left;
	padding: 4px 6px;
	font-size: 1em;
}

.poker-tourneyinfo .tourney-infobox h4,
.poker-tourneyinfo #middle-content-left .tourney-infobox p {
	margin-left: 140px;
}

.poker-tourneyinfo .tourney-infobox h4 {
	margin-top: 0.5em;
	font-size: 1.2em;
}

.poker-tourneyinfo .tourney-infobox p,
.poker-tourneyinfo .tourney-infobox ul,
.poker-tourneyinfo .tourney-infobox ol {
	margin: 1em;
}

.poker-tourneyinfo .tourney-infobox ul,
.poker-tourneyinfo .tourney-infobox ol {
	margin-left: 1.5em;
	line-height: 1.4em;
}

.poker-tourneyinfo .tourney-infobox ul {
	list-style: none;
}

.poker-tourneyinfo .tourney-infobox li {
	margin-bottom: 0.3em;
}

.poker-tourneyinfo .tourney-infobox a {
	color: #c4a13d;
	text-decoration: underline;
}
.poker-tourneyinfo .tourney-infobox#tos-box a {
	color: #e7e7e7;
}

.poker-tourneyinfo .tourney-infobox#prize-box ul {
	font-weight: bold;
}

/*****************************
 * Overrides: user_relationships
 * ***************************/


.user_relationships_ui_popup_form
{
    border:1px solid #999999;
    padding:10px;
	height: 45px;
}

.user_relationships_ui_popup_form a.thickbox
{
	color: #727272;
	font-weight: bold;
}

#user-relationships-ui-pending-requested .poker_submit {
	margin-top: 0;
}

#user-relationships-ui-pending-requested div.poker_submit div.pre
{
  display: none;
}

#user-relationships-ui-pending-requested div.poker_submit div.label
{
  background: transparent;
	color: #810E0B;
	position: relative;
	top: -1.5px;
}

#user-relationships-ui-pending-requested .container-inline a
{
	color: #810E0B;
  font-size: 12px;
  text-decoration: none !important;
}

#user-relationships-ui-pending-requested div.poker_submit
{
  /* Only IE */
	margin-top: 0px\9;
}

*:first-child+html #user-relationships-ui-pending-requested .container-inline .pre {
	display: none;
}

*:first-child+html #user-relationships-ui-pending-requested .container-inline #edit-submit,
*:first-child+html #user-relationships-ui-pending-requested .container-inline .label input {
	width: auto;
	float: left !important;
}
*:first-child+html #user-relationships-ui-pending-requested .container-inline .label input {
	font-weight: normal !important;
	color: #820f0a !important;
	font-size: 12px !important;
}

*:first-child+html #user-relationships-ui-pending-requested .container-inline a
{
  font-size: 12px;
}

*:first-child+html #user-relationships-ui-pending-requested .container-inline .label input:hover {
	text-decoration: underline;
}

*:first-child+html #user-relationships-ui-pending-requested .user_login_clear {
	clear: none;
}

/* quickfix z2#210 FIXME */
#edit-picture-upload-wrapper div input.file {
	display: none !important;
}

/* ********************
 * Help thickboxes
 * ********************/

.helpcontent {
	background: #fbfbfb;
}
