html, body {
  height: 100%;
  width: 100%;
}

#os-poker-overlay-mask,
#os-poker-overlay {
  z-index: 1000;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

#os-poker-overlay-mask {
  background-color: black;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  filter: alpha(opacity = 75);
  opacity: 0.75;
}

#os-poker-overlay .floater {
  float: left;
  height: 50%;
}

*:first-child+html #os-poker-overlay .floater {
  width: 1px;
}

#os-poker-overlay .content {
  clear: both;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

#os-poker-overlay a.closebutton {
	display:block;
	height:20px;
	position:absolute;
	right:11px;
	top:10px;
	width:20px;
	z-index:777;
  cursor: pointer;
}
