table tbody tr td a.operations {
  margin-right: 6px;
}

span.autoadmin_description {
  font-size: 12px; 
  padding-left: 4px;
  color: green;
}

#autoadmin-form-filter {
  display: inline;
  margin: 0;
  padding: 0;
}

#autoadmin-form-filter input {
  display: inline;
  
}